description = "Layout for Alfamart - Terima Kasih"

[staticPage]
useContent = 1
default = 0

[subscriberform]
[account]
paramCode = "code"
forceSecure = 0
[session]

[SessionClose]
load_js = 1
==

function onStart() {
  if (!Auth::check()) {
    //return \Redirect::to('/alfamart/daftar');
  }
}

==

{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'assets/img/alfamart/thank-you/terimakasih-header-desktop.png'|theme }}" class="hidden-xs" />
      <img src="{{ 'assets/img/alfamart/thank-you/terimakasih-header-mobile.png'|theme }}" class="visible-xs" />
    </div>
</div>

{% partial 'site/alfamart-menu' %}

<div id='main-section' class="container" style="padding: 30px 0;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img src="{{ 'assets/img/alfamart/thank-you/terimakasih-banner-desktop.png'|theme }}" class="hidden-xs" />
      <img src="{{ 'assets/img/alfamart/thank-you/terimakasih-banner-mobile.png'|theme }}" class="visible-xs" />
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-10 col-md-offset-1 text-center">
      <a href="{{ url('/aktivitas-kami/promo-alfamart') }}" class="button">Kembali ke Beranda</a>
    </div>
  </div>
</div>

<style>
	.default-content h3 {
	    font-size: 22px;
	    line-height: 1.2;
	}

	@media screen and (min-width: 767px) {
		.default-content h3 {
			font-size: 30px;
		}
	}

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->