description = "Layout Banyak Mau"

[staticPage]
useContent = 1
default = 0
==
<?php
function onEnd(){
    $this->page->amp_url = $this->pageUrl('banyak-mau-amp');
    }
?>
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'banyakmau/Banyak-MauMekanism.jpg'|media }}" class="hidden-xs" />
        <img src="{{ 'banyakmau/banner-banyak-maumekanism-m.jpg'|media  }}" class="visible-xs" />
    </div>
</div>

{% partial 'site/banyak-mau-menu' %}


<!-- <div class="default-content" style="text-align: center;">
    <img src="{{ 'cokoperimen/content/cokoperimen-cara-bermain.jpeg'|media  }}" style="width: 50%;">
</div> -->
<div id='main-section' class="container" style="padding: 30px 15px;">
    <h1 style="display: none;">{{ trans_pick(page, 'title')|raw }}</h1>
    <div class="col-md-12">
        <div class="default-content">
            <div class="center-img" style="text-align: center;margin-bottom:10px;">
                <img src="{{ 'banyakmau/mekanisme-banyak-mau.jpg'|media  }}" style="" class="hidden-xs">
                <img src="{{ 'banyakmau/mekanisme-banyak-mau-m.jpg'|media  }}" style="" class="visible-xs">
            </div>
        </div>
    </div>
</div>

<style>
    .default-content h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    @media screen and (min-width: 767px) {
        .default-content h3 {
            font-size: 30px;
        }
    }

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->