title = "cokoperimen - pemenang - amp"
url = "/amp/cokoperimen/pemenang"
layout = "default-amp"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 0


[viewBag]
localeUrl[en] = "/cokoperimen-pemenang-amp"
==

<div class="cover">
        <amp-img 
            src="{{ 'cokoperimen/mobile/pemenang.jpg'|media }}"
            srcset="{{ 'cokoperimen/mobile/pemenang.jpg'|media }} 640w,
                  {{ 'cokoperimen/mobile/pemenang.jpg'|media }} 320w"
            width="50"
            height="50"
            layout="responsive"
            alt="Cokoperimen Pemenang Mobile">
        </amp-img>
</div>
<amp-accordion class="title_home">
    <section>
        <h4 class="arrow_down"><a href="#" target="_self">Pemenang</a></h4>
        <p>
            <a href="/cokoperimen" >Cara Mengikuti</a>
            <a href="/cokoperimen/ide-cokoperimen">Ide Cokoperimen</a>
            <a href="/cokoperimen/hadiah">Hadiah</a>
            <a href="/cokoperimen/syarat-dan-ketentuan">Syarat dan ketentuan</a>
            <a href="/cokoperimen/pemenang" class="active">Pemenang</a>
        </p>
    </section>
</amp-accordion>
<div style="background: #6ab3e0; padding: 20px">
<h2 style="color:white;padding-top:20px;margin-bottom: 20px;text-align:center"><strong>Selamat Kepada Pemenang Mingguan Cokoperimen</strong></h2>
    <amp-img src="{{'cokoperimen/winner/pemenang-week-1.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img>
    <br />
    <amp-img src="{{'cokoperimen/winner/pemenang-week-2.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img>
    <br />
    <amp-img src="{{'cokoperimen/winner/pemenang-week-3.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img>
    <br />

    <amp-img src="{{'cokoperimen/winner/pemenang-week-4.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img> 
    <br />

    <amp-img src="{{'cokoperimen/winner/pemenang-week-5.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img> 
    <br />

    <amp-img src="{{'cokoperimen/winner/pemenang-week-6.png'|media }}" width="381px" height="139px" layout="responsive"></amp-img>  
    <br />
           
</div>