description = "Layout for Karir"

[CareerMenu]

[CareerArticle]

[CareerCenter]

[CareerEvent]
==
<?php
function onEnd(){
        
        $vars     = $this->layout->components["CareerMenu"]->submenus;
        $_desc    = $this->layout->components["CareerMenu"]->meta_description;
        $_keys    = $this->layout->components["CareerMenu"]->meta_keywords;
        
        foreach($vars as $var){
                
                if( $var->id == 1 ){
                    
                    if(!empty($var->meta_description)){
                        
                             $this->page->meta_description = $var->meta_description;
                        }
                    else{
                            $this->page->meta_description = $_desc;
                        }    
                    
                    if(!empty($var->meta_keywords)){
                        
                            $this->page->meta_keywords = $var->meta_keywords;
                        }
                        
                    else{
                            
                            $this->page->meta_keywords     = $_keys;
                        }    
                    
                }    
        }
      
    }
?>
==
{% partial 'site/header-karir' %}

<section>

  	<div class="static-baner-pages">
    	<div class="imgwrp"><img src="{{ 'assets/img/menukarir/home-desktop.jpg'|theme }}" alt="Karir | Frisian Flag Indonesia"></div>
    	
   </div>
<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">Overview</a></li>
            
            {% if CareerMenu.submenus %}
        		      {% set careermenus = CareerMenu.submenus %}
                      {% for menu in careermenus %}
                          
                          	<li>
                          	    {% if menu.id == 1 %}
                          	    
                          	    <a href="{{url('/karir')}}" class="active">{{menu.title}}</a>
                          	    
                          	    {% else %}
                          	    
                          	     <a href="{{url('/karir')}}/{{menu.slug}}">{{menu.title}}</a>
                          	     
                          	    {% endif%}
                          	    
					        </li>
                                         
                      {% endfor %}
                      {% endif%}
        </ul>
    </div>
</div>
</section>

<section id="main-section">
<div class="container">
    <div class="col-md-12">
        <div class="breadcrumb">
             
                <ul>
                    <li><a href="{{ 'home' | page }}">{{ 'beranda'|_ }}</a> </li>
                    <li><a href="javascript:;">{{ 'Karir'|_ }}</a> </li>
                </ul>
               
        </div>
    </div>
    <main class="enem l-career">
<div class="section clearfix overview">
   <div class="container-two main-title" >
      <div class="col-lg-12">
         <h1 class="section__title">PILIHAN KARIR</h1>
         <h5 class="enem o-career-subtitle">
              Bersama kami, Anda memiliki kesempatan untuk berkembang secara personal maupun profesional.
         </h5>
      </div>
   </div>
   <div class="container-fluid enem col-lg-12">
      <!----> 
      <div class="enem wrapper-card-list row gap-b-40">
          {% if CareerCenter.careers %}
        
          {% set careers = CareerCenter.careers.take(4) %}
          {% for career in careers %}
          
            <div class="col-lg-3 col-sm-12">
                <div class="enem card o-career-card">
                   <div class="card__content">
                      <h3 class="career-position"><a href="{{career.title_url}}" target="_blank">
                         {{ career.title }}
                         </a>
                      </h3>
                      <div class="career-wrapper-desc">
                         <div class="career-division">
                             {{career.category.title}}
                         </div>
                         <div class="career-location">
                            {{career.regencies.name | title}}
                         </div>
                      </div>
                   </div>
                </div>
             </div>
         
          {% endfor%}
          {% endif%}
        
      </div>
      <div class="btn-loadmore"><a href="{{url('/karir/pusat-karir')}}" class="button medium">LIHAT SEMUA</a></div>
   </div>
</div>
</main>
</div>
  

<div class="section container-fluid clearfix event">
   <div class="container-two">
      <div class="col-lg-12">
         <h2 class="section__title">Event</h2>
      </div>
   </div>
   <div class="enem container-fluid col-lg-12 no-padding">
      <!----> 
      <div class="enem wrapper-card-list gap-b-40 clearfix">
      {% if CareerEvent.events %}
      {% set events = CareerEvent.events.take(2) %}
      {% for event in events%}
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card card--large">
               <div title ="{{event.alt_img}}" data-mobile="{{ event.thumb_img | media}}" class="card__thumbnail card-ovl card__activity event" style="background-image: url('{{ event.thumb_img | media}}');">
                  <div class="card__meta">
                     <!--header class="card__head">
                        <h3>{{ event.title }}</h3>
                        <span class="date">{{event.start_date.format('d F ') }} - {{event.end_date.format('d F Y')}}</span>
                     </header-->
                     <a href="{{url('karir/event')}}/{{event.slug}}" class="button">Lebih Lanjut</a>
                  </div>
               </div>
            </div>
         </div>
      {% endfor%}
      
      {% endif %}
         
      </div>
     <div class="btn-loadmore"><a href="{{url('/karir/event')}}"class="button medium">LIHAT SEMUA</a></div>
   </div>
</div>


<div class="section container-fluid clearfix article">
   <div class="enem container-fluid col-lg-12">
      <div class="enem container-two gap-b-50">
         <h2 class="enem section__title">ARTIKEL</h2>
      </div>
   </div>
   <div class="enem container-fluid col-lg-12 no-padding">
      <div class="col-lg-12 o-career__article">
         <div class="article__container-content">
            <div class="enem wrapper-card-list row gap-b-80">
            {% if CareerArticle.articles%}
            {% set articles = CareerArticle.articles.take(3) %}
            {% for article in articles %}
                 <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="card card--large">
                     <div title ="{{article.alt_img}}" data-mobile="{{article.thumb_img | media }}" class="card__thumbnail card-ovl card__activity article" style="background-image: url('{{article.thumb_img | media}}');">
                        <div class="card__meta">
                           <!--header class="card__head">
                              <h3 style="text-align:left">{{article.title }}</h3>
                           </header-->
                            <a href="{{url('karir/artikel')}}/{{article.slug}}" class="button">Lebih Lanjut</a>
                        </div>
                     </div>
                  </div>
               </div>
            {% endfor %}
            {% endif %}
        
            </div>
         </div>
       <div class="btn-loadmore"><a href="{{url('/karir/artikel')}}" class="button medium">LIHAT SEMUA</a></div>
      </div>
   </div>
</div>

  </section>

{% partial 'site/footer-karir' %}
{% framework %}