description = "Layout for KenapaHarusKentalManisCokelat"

[staticPage]
[subscriberform]
[account]
paramCode = "code"
forceSecure = 0
[session]

[SessionClose]
load_js = 1
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'assets/img/nikmaticokelatenya/masthead-nikmaticokelatnya.jpg'|theme }}" class="hidden-xs" />
        <img src="{{ 'assets/img/nikmaticokelatenya/masthead-nikmaticokelatnya-mobile.jpg'|theme }}" class="visible-xs" />
    </div>
</div>
<div class="container-menutab container-menutab--five hidden">
    <div class="container-one">
        <ul class="breadcrumb">
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">{{ 'kenapa-harus-kental-manis-coklat'|_ }}</a></li>
               <li>
                    <a href="{{ '../nikmatcokelatnya' }}">
                        {{ 'cara-menikmati-kental-manis-coklat'|_ }}
                    </a>
                </li>
                <li>
                    <a href="{{ 'kenapaharuskentalmaniscokelat' }}" class="active" >
                       {{ 'kenapa-harus-kental-manis-coklat'|_ }}
                    </a>
                </li>
        </ul>
    </div>
</div>

<div id='main-section' class="container" style="padding: 20px 0;">
    <div class="col-md-12">
        <div class="default-content">
           <div class="row" style="padding: 10px 0;">

             <div class="col-md-12 text-center">
               <h2 style="margin-top: 0; color: #4a4a4a;">{{ 'kenapa-harus-kental-manis-coklat'|_ }}</h2>
               <!-- <p>{{ 'manfaat-kental-manis-coklat'|_ }}</p> -->
             </div>

           </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="wrp-halfcontent">
            <div class="imgfull">
                <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/menjaga-kebugaran-jasmani-tanpa-ke-gym-7f7d6afd880cc608141e3f28cf652c07.jpg" alt="Menjaga Kebugaran Jasmani Tanpa ke Gym">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-fullhalf">
            <div class="date">
                <label>Nutrient</label> | 20 Okt 2017
            </div>
            <div class="content">
                <h3>{{ 'menjaga-kebugaran-jasmani-tanpa-gym'|_ }}</h3>
                <p>{{ 'bagi-anda-yang-sibuk-rutin-pergi-ke-gym-untuk-menjaga-kebugaran-tubuh-terdengar-mustahil-untungnya-untuk-menjaga-kebugaran-tubuh-tak-harus-dengan-rajin-olahraga-di-gym-setiap-hari-menemani-anak-bermain-bersih-bersih-rumah-menyeluruh-atau-ikut-kelas-yoga-online-bisa-jadi-pilihan-yang-mudah'|_|ucfirst }}...</p>
                <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/menjaga-kebugaran-jasmani-tanpa-ke-gym" class="button btnblue">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
        </div>
    </div>
    <div id="ourmilkpedia" class="section section_card clearfix">
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/manfaat-susu-sapi-lebih-dari-kalsium-untuk-tulang-278321722b8654fc9ba4ff15f5fb55cf.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/manfaat-susu-sapi-lebih-dari-kalsium-untuk-tulang-278321722b8654fc9ba4ff15f5fb55cf.jpg" alt="Manfaat Susu Sapi, Lebih dari Kalsium untuk Tulang!">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/manfaat-susu-sapi-lebih-dari-kalsium-untuk-tulang">{{'manfaat-susu-sapi-untuk-tulan'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/manfaat-susu-sapi-lebih-dari-kalsium-untuk-tulang" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/susu-putih-atau-susu-coklat-rasa-berbeda-manfaat-serupa-2285d15071fd889aa1ccff0dbbd3f0bb.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/susu-putih-atau-susu-coklat-rasa-berbeda-manfaat-serupa-2285d15071fd889aa1ccff0dbbd3f0bb.jpg" alt="Susu Putih atau Susu Coklat? Rasa Berbeda, Manfaat Serupa">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/susu-putih-atau-susu-coklat-rasa-berbeda-manfaat-serupa">{{'susu-putih-susu-coklat-rasa-berbeda-manfaat-sama'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/susu-putih-atau-susu-coklat-rasa-berbeda-manfaat-serupa" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/sudah-minum-susu-tiap-hari-kok-badan-nggak-tinggi-22eb8ca63af8779e504a64391b6362a9.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/sudah-minum-susu-tiap-hari-kok-badan-nggak-tinggi-22eb8ca63af8779e504a64391b6362a9.jpg" alt="Sudah Minum Susu Tiap Hari kok Badan Nggak Tinggi?">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/sudah-minum-susu-tiap-hari-kok-badan-nggak-tinggi">{{'minum-susu-tapi-nggak-tinggi'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/sudah-minum-susu-tiap-hari-kok-badan-nggak-tinggi" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/tetap-bugar-meski-padat-aktivitas-1225f802b03f427b9332b2a60fc8254f.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/tetap-bugar-meski-padat-aktivitas-1225f802b03f427b9332b2a60fc8254f.jpg" alt="Tetap Bugar Meski Padat Aktivitas">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/tetap-bugar-meski-padat-aktivitas">{{'tetap-bugar-mesti-banyak-aktivitas'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/tetap-bugar-meski-padat-aktivitas" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/mau-tahu-jenis-susu-yang-cocok-untuk-si-kecil-d32cad3835015c240f1fef6136522ee0.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/mau-tahu-jenis-susu-yang-cocok-untuk-si-kecil-d32cad3835015c240f1fef6136522ee0.jpg" alt="Mau Tahu Jenis Susu yang Cocok untuk Si Kecil">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/mau-tahu-jenis-susu-yang-cocok-untuk-si-kecil">{{'jenis-susu-untuk-si-kecil'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/mau-tahu-jenis-susu-yang-cocok-untuk-si-kecil" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 itemhomefade" style="display: block;">
        <div class="card card_featured">
          <div class="card__thumbnail">
            <div class="card__image" style="background-image: url(&quot;https://www.frisianflag.com/storage/app/media/_mediathumbs/7-langkah-untuk-pola-makan-lebih-sehat-bcdae0291ca146b00ffe466913af2109.jpg&quot;);">
              <img src="https://www.frisianflag.com/storage/app/media/_mediathumbs/7-langkah-untuk-pola-makan-lebih-sehat-bcdae0291ca146b00ffe466913af2109.jpg" alt="7 Langkah Untuk Pola Makan Lebih Sehat">
            </div>

            <div class="card__meta">
              <header class="card__head">
                <h3><a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/7-langkah-untuk-pola-makan-lebih-sehat">{{'7-langkah-pola-makan'|_}}</a></h3>
              </header>
              <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/7-langkah-untuk-pola-makan-lebih-sehat" class="button hidden-xs">{{'lebih-lanjut'|_|uppercase}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="loader" class="text-center loader" style="display: none;"><img src="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img/loader.gif" alt="Loader"></div>
      <div class="btn-loadmore"><a class="button medium loadseemore">MUAT LEBIH</a></div> -->
    </div>
</div>

<style>
    .default-content h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    @media screen and (min-width: 767px) {
        .default-content h3 {
            font-size: 30px;
        }
    }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->