description = "Layout for MilkyIncredible"

[staticPage]
useContent = 1
default = 0

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"

[SessionClose]
load_js = 1
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'assets/img/milkiincridibles/header-desktop.jpg'|theme }}" class="hidden-xs" alt="Header Desktop" />
      <img src="{{ 'assets/img/milkiincridibles/header-mobile.jpg'|theme }}" class="visible-xs" alt="Header Mobile" />
    </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul class="list-custom">
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">Keluarga Incredibles</a></li>
              <li>
                <a href="{{ '/aktivitas-kami/milky-incredibles' }}" class="active">
                	<span>
                  	Keluarga Incredibles	
                	</span>
                </a>
              </li>
             <li>
                <a href="{{ '/aktivitas-kami/milky-incredibles/aturan-main' }}">
                	<span>
					 				{{ 'Cara bermain'|_ }}                		
                	</span>
                </a>
            </li>
            <li>
                <a href="{{ '/aktivitas-kami/milky-incredibles/syarat-dan-ketentuan' }}">
                	<span>
					 				{{ 'Syarat dan Ketentuan #KeluargaIncrediblesFF'|_ }}                		
                	</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id='main-section' class="container" style="padding: 60px 0;">
    <div class="col-md-12">
        <div class="default-content">

					<div class="col-md-12">
						<h4>{{'Yuk, kumpulkan 22 kartunya dan mainkan board game serunya!'|_|uppercase}}</h4> <br />
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-4">
							<a href="{{ '/aktivitas-kami/milky-incredibles/aturan-main' }}"><img src="{{ 'assets/img/milkiincridibles/card-1.jpg'|theme }}" alt="Card 1" /></a>
						</div> <!--  .col-sm-12 col-md-4 -->
						<div class="col-sm-12 col-md-4">
							<a href="{{ '/aktivitas-kami/milky-incredibles/download-games' }}" id="download-button-game"><img src="{{ 'assets/img/milkiincridibles/card-2.jpg'|theme }}" alt="Card 2" /></a>
						</div> <!--  .col-sm-12 col-md-4 -->
						<div class="col-sm-12 col-md-4">
							<a data-fancybox href="https://youtu.be/KxmHKlms5Qs">
								<img src="{{ 'assets/img/milkiincridibles/card-3.jpg'|theme }}" alt="Card 3" />
							</a>
						</div> <!--  .col-sm-12 col-md-4 -->
					</div> <!--  .row -->

					<div class="row">
						<div class="col-sm-12">
							<br /><br />
							<a data-fancybox href="https://youtu.be/t7cHZuBDsag">
								<img src="{{ 'assets/img/milkiincridibles/banner-video.jpg'|theme }}" alt="Banner Video" />								
							</a>
						</div> <!--  .col-sm-12 -->
					</div> <!--  .row -->

					<div class="row">
						<div class="col-sm-12">
							<br /><br />
							<h5 class="text-center">Produk Frisian Flag Milky edisi Incredibles 2 bisa dibeli juga di <a href="https://www.jd.id/promo-frisian-flag-incredibles.html" target="_blank"><img src="{{ 'assets/img/milkiincridibles/jd-logo.png'|theme }}" alt="Logo JD" /></a></h5>
						</div> <!--  .col-sm-12 -->
					</div> <!--  .row -->

        </div>
    </div>
</div>

<style>
	.default-content h3 {
	    font-size: 22px;
	    line-height: 1.2;
	}

	@media screen and (min-width: 767px) {
		.default-content h3 {
			font-size: 30px;
		}
	}

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->