description = "Layout for MilkySpiderman"

[staticPage]
[subscriberform]
[account]
paramCode = "code"
forceSecure = 0
[session]

[SessionClose]
load_js = 1
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'assets/img/milkyspiderman/spiderman.jpg'|theme }}" class="hidden-xs" />
        <img src="{{ 'assets/img/milkyspiderman/spiderman-480x480-01.jpg'|theme }}" class="visible-xs" />
    </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">MilkySpiderman</a></li>
              <li>
                <a href="https://www.frisianflag.com/aktivitas-kami/MilkySpiderman" class="active">
                    MilkySpiderman
                </a>
              </li>
             <li>
                <a href="https://www.frisianflag.com/aktivitas-kami/MilkySpiderman/syarat-ketentuan">
					 {{ 'syarat-&-ketentuan'|_ }}
                </a>
            </li>
        </ul>
    </div>
</div>

<div id='main-section' class="container" style="padding: 60px 0;">
    <div class="col-md-12">
        <div class="default-content">
           <div class="col-md-6">
           		<img src="{{ 'assets/img/milkyspiderman/bottle@2x.png'|theme }}"/>
              <br />
              <p>{{'temukan-milkyspiderman-di-sini'|_}}</p>
              <a href="https://www.frisianflag.com/produk/kids/milky-sterilized" class="button">{{'lihat-selengkapnya'|_}}</a>
           </div>
           <div class="col-md-6">
           		<br class="hidden-xs" />
           		<br class="hidden-xs" />
           		<br class="hidden-xs" />

				<h3>{{'mau-kamarmu-menjadi-kamar-spiderman'|_}}</h3>
           		<!-- <h3>Mau kamarmu menjadi kamar Spider-Man ? <br /> <br /> Post fotomu berpose Spider-Man di Facebook atau Instagram dengan menggunakan hashtag</h3> -->

           		<img src="{{ 'assets/img/milkyspiderman/logo-milky.png'|theme }}" srcset="{{ 'assets/img/milkyspiderman/logo-milky@2x.png'|theme }} 2x" />

           		<br />
           		<br />

           		<h3>{{'lihat-caranya-di-bawah'|_}}</h3>
           </div>
           <div class="col-md-12">
           	<hr />
           </div>


           <div class="col-md-12">
           	 <h2>{{'caranya-ikutan'|_|uppercase}}</h2> <br />
           </div>
           <div class="col-md-6 milkybox mh">
           		<h4>{{'melalui-instagram'|_}}</h4>
           		<ul class="milkybox__list">
           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-1.png'|theme }}"/>
           				</div>
           				<p>{{'foto-si-kecil'|_}}</p>
           			</li>

           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-2.png'|theme }}"/>
           				</div>
           				<p>{{'upload-milkyspiderman-instagram'|_}}</p>
           			</li>

           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-3.png'|theme }}"/>
           				</div>
           				<p>{{'jangan-lupa-biodata'|_}}</p>
           			</li>
           		</ul>
           </div>

           <div class="col-md-6 milkybox mh">
           		<h4>{{'melalui-facebook'|_}}</h4>
           		<ul class="milkybox__list">
           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-1.png'|theme }}"/>
           				</div>
						<p>{{'foto-si-kecil'|_}}</p>
           			</li>

           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-4.png'|theme }}"/>
           				</div>
           				<p>{{'upload-di-wall-milkyspiderman'|_}}</p>
           			</li>

           			<li>
           				<div class="milkybox__img">
           					<img src="{{ 'assets/img/milkyspiderman/img-3.png'|theme }}"/>
           				</div>
						<p>{{'jangan-lupa-biodata'|_}}</p>
           			</li>
           		</ul>
           </div>

           <div class="col-md-12">
           		<br />
           		<h5>{{'info-lebih-lanjut'|_}}, <a href="https://www.frisianflag.com/aktivitas-kami/MilkySpiderman/syarat-ketentuan">{{'klik-di-sini'|_}}</a></h5>
           </div>

           <div class="col-md-12">
           		<hr />
           		<h2>{{'hadiah'|_|uppercase}}</h2> <br />
           </div>

            <div class="col-md-6 milkybox mh">
            	<div class="milkybox__wrapper">
	            	<div class="col-xs-6 col-md-6">
	            		<img src="{{ 'assets/img/milkyspiderman/hadiah-spider-man.jpg'|theme }}"/>
	            	</div>
	            	<div class="col-xs-6 col-md-6">
						<h3><span>6</span>{{'pemenang'|_|uppercase}}</h3>
						<h5>{{'room-makeover-spiderman'|_}}</h5>
	            	</div>
            	</div>
            </div>

             <div class="col-md-6 milkybox mh">
            	<div class="milkybox__wrapper">
	            	<div class="col-xs-6 col-md-6">
	            		<img src="{{ 'assets/img/milkyspiderman/prize.png'|theme }}"/>
	            	</div>
	            	<div class="col-xs-6 col-md-6">
						<h3><span>30</span>{{'pemenang'|_|uppercase}}</h3>
						<h5>{{'hadiah-hiburan-merchandise-spiderman'|_}}</h5>
					</div>
            	</div>
            </div>

            <div class="col-md-12">
           		<br />
           		<p><sup>*</sup>{{'gambar-hanya-ilustrasi'|_}} <a href="https://www.frisianflag.com/aktivitas-kami/MilkySpiderman/syarat-ketentuan"><sup>*</sup>{{'syarat-ketentuan-berlaku'|_}}</a></p>
           		<hr />
           </div>

           <div class="col-md-6 milkybox no-padding m-bottom-15">
           		<a data-fancybox href="https://www.youtube.com/watch?v=Pd40WhdhGWI&autoplay=1&rel=0&controls=0&showinfo=0">
           			<img src="{{ 'assets/img/milkyspiderman/yt.jpg'|theme }}"/>
           		</a>
           </div>
           <div class="col-md-6 milkybox no-padding">

           			<img src="{{ 'assets/img/milkyspiderman/kv.jpg'|theme }}"/>

           </div>
        </div>
    </div>
</div>

<style>
	.default-content h3 {
	    font-size: 22px;
	    line-height: 1.2;
	}

	@media screen and (min-width: 767px) {
		.default-content h3 {
			font-size: 30px;
		}
	}

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->