description = "Layout for Ramadan Kontes"
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'ramdan-istimewa-promo-banner-sm.png'|media }}" class="hidden-xs" />
        <img src="{{ 'ramdan-istimewa-promo-banner-sm-mobile.png'|media  }}" class="visible-xs" />
    </div>
</div>

{% partial 'site/ramadan-istimewa-kontes-menu' %}

<div id='main-section' class="container" style="padding: 30px 20px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="default-content">
          {% page %}
        </div>

<!--         <div class="text-center" style="margin-top: 30px;">
  <a href="/aktivitas-kami/promo-alfamart/main" class="button button--small" style="margin-right: 1em;">Ikuti Sekarang</a>
  <a href="/aktivitas-kami/promo-alfamart/hadiah" class="button button--small">Lihat Hadiah</a>
</div> -->
    </div>
</div>


<style>
	.default-content h3, .default-content h4 {
	   
	    line-height: 1.2;
	}
	.default-content h3 {
	    font-size: 22px;
	   
	}
    .default-content h4 {
	    font-size: 16px;
	    margin-bottom:10px;
	   
	}
	@media screen and (min-width: 767px) {
		.default-content h3 {
			font-size: 30px;
		}
		.default-content h4 {
			font-size: 26px;
		}
	}

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->