description = "Layout for Sulawesi"

[staticPage]

[account]
paramCode = "code"
forceSecure = 0
[session]

[SessionClose]
load_js = 1
==
<?php
function onEnd(){
	$this['title_nusantara'] = 'Resep Puding Khas Nusantara';
    $this['desc_nusantara']	 = 'Ayo coba buat puding dengan melihat kumpulan resep puding khas Indonesia yang mudah disajikan hanya dengan susu frisian flag';
    $this->page->amp_url = $this->pageUrl('resep-khas-sulawesi-amp');
}
?>
==
{% partial 'site/header-resep-nusantara' %}

	<section>

		<h1 style="display: none;">RESEP KHAS SULAWESI, MALUKU &AMP; PAPUA</h1>
  	<div class="static-baner-pages">
    	<div class="imgwrp hidden-xs"><img src="{{ 'assets/img-ramadhan/banner/recipe page_sulawesi_desktop.jpg'|theme }}" alt="Recipe Page Sulawesi Desktop"> </div>
    	<div class="imgwrp visible-xs"><img src="{{ 'assets/img-ramadhan/banner/recipe page_sulawesi_mobile.jpg'|theme }}" alt="Recipe Page Sulawesi Mobile"> </div>
   	</div>
		<div class="container-menutab container-menutab--five">
			<div class="container-one">
				<ul class="menutab-full">
					<li class="toggle visible-xs visible-sm">
						<a href="javascript:;" class="active">RESEP KHAS SULAWESI, MALUKU &AMP; PAPUA</a>
					</li>
					<li>
						<a href="{{ '/aktivitas-kami/resep-nusantara' }}"><span>RESEP NUSANTARA</span></a>
					</li>
					<li>
						<a href="{{ '/aktivitas-kami/resep-nusantara/resep-khas-sumatera' }}"><span>RESEP KHAS SUMATERA</span></a>
					</li>
					<li>
						<a href="{{ '/aktivitas-kami/resep-nusantara/resep-khas-jawa-bali-nusa-tenggara' }}"><span>RESEP KHAS JAWA, BALI &AMP; NUSA TENGGARA</span></a>
					</li>
					<li>
						<a href="{{ '/aktivitas-kami/resep-nusantara/resep-khas-kalimantan' }}"><span>RESEP KHAS KALIMANTAN</span></a>
					</li>
					<li>
						<a href="#" class="active"><span>RESEP KHAS SULAWESI,<br /> MALUKU &AMP; PAPUA</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container padding--large">
			
			<div class="row">

				<ul id="menu" style="display: none;">
		      <li><a href="#resep-es-pisang-cocopandan"></a></li>
		      <li><a href="#resep-puding-roti"></a></li>
		      <li><a href="#resep-tiliaya"></a></li>
		      <li><a href="#resep-es-manado-exotica"></a></li>
		      <li><a href="#resep-barongko"></a></li>
		      <li><a href="#resep-kue-tetu-pisang"></a></li>
		      <li><a href="#resep-sanggara-cokelat-keju"></a></li>
		      <li><a href="#resep-pisang-epe-lumpur"></a></li>
		      <li><a href="#resep-kopi-rarobang"></a></li>
		      <li><a href="#resep-pisang-coe-ternate"></a></li>
		      <li><a href="#resep-kue-lontar-susu"></a></li>
		      <li><a href="#resep-egg-tart"></a></li>
		    </ul>
				
			<div class="col-sm-12 col-md-4" id="resep-es-pisang-cocopandan">
					<div class="recipe">
						<div class="recipe-title">
							<h4>Resep Es Pisang Cocopandan Khas Sulawesi Selatan</h4>						
						</div> <!--  .recipe-title -->
						<a href="https://www.youtube.com/watch?v=KNkuKlNz7R4" data-fancybox="resep-es-pisang-cocopandan" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/11. Es Pisang Cocopandan.png'|theme }}" alt="Es Pisang Cocopandan" />
						</a>
						<div class="text-center recipe--button">
							<a href="javascript:;" class="button button-reds" data-fancybox data-src="#es-pisang-cocopandan-link">lihat resepnya</a>
							<a href="#" class="button button-reds" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button button-reds"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Es Pisang Cocopandan Khas Sulawesi Selatan untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="es-pisang-cocopandan-link" class="recipe--popup">
							<h4>Resep Es Pisang Cocopandan Khas Sulawesi Selatan</h4>
							<br />
							<p><strong>Bahan:</strong></p>
							<p>550 ml santan</p>
							<p>250 ml air</p>
							<p>125 gr tepung beras</p>
							<p>125 gr tepung terigu</p>
							<p>100 ml Frisian Flag Cocopandan</p>
							<p>Pisang raja</p>
							<p>2 sdm tepung beras</p>
							<p>50 gr gula pasir</p>
							<p>2 lembar daun pandan</p>
							<p>Es batu</p>
							<br />
							<p><strong>Cara Membuat:</strong></p>
							<br />
							<ol>
								<li>Campur 250 ml santan, air, tepung beras, tepung terigu dan Frisian Flag Cocopandan, aduk rata dan kukus hingga matang.</li>
								<li>Bungkus pisang raja ke dalam adonan dan kukus selama 10 sampai 15 menit.</li>
								<li>Masak 300 ml santan, tepung beras, gula pasir dan daun pandan hingga mengental.</li>
								<li>Letakkan potongan pisang ke dalam mangkuk.</li>
								<li>Tambahkan es batu secukupnya, campuran santan yang telah dimasak hingga mengental dan Frisian Flag Cocopandan sesuai selera.</li>
								<li>Es Pisang Cocopandan nikmat siap disajikan.</li>
							</ol>
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-puding-roti">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP PUDING ROTI KHAS SULAWESI UTARA</h4>						
						</div> <!--  .recipe-title -->
						<a id="puding-roti-play-button" href="https://youtu.be/OVoApeLnfQw" data-fancybox="resep-puding-roti" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/2. Puding Roti.png'|theme }}" alt="Puding Roti" />
						</a>
						<div class="text-center recipe--button">
							<a id="puding-roti" href="javascript:;" class="button button-reds" data-fancybox data-src="#puding-roti-link">lihat resepnya</a>							
							<a href="#" class="button button-reds" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button button-reds"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Puding Roti Khas Sulawesi Utara untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="puding-roti-link" class="recipe--popup">
							<h4>RESEP PUDING ROTI KHAS SULAWESI UTARA</h4>
							<br />
							<p><strong>Bahan:</strong></p>
							<p>60 gr gula pasir</p>
							<p>80 ml santan</p>
							<p>1 sdm vanila</p>
							<p>80 ml air</p>
							<p>4 butir telur ayam</p>
							<p>150 ml Frisian Flag Cocopandan</p>
							<p>10 lembar roti tawar</p>
							<p>Kelapa kering secukupnya</p>
							<br />
							<p><strong>Cara Membuat:</strong></p>
							<br />
							<ol>
								<li>Campur gula pasir, santan, vanila, air, telur ayam dan Frisian Flag Cocopandan sebagai adonan, aduk hingga rata.</li>
								<li>Potong kotak roti tawar, campur dengan kelapa kering secukupnya.</li>
								<li>Tuang adonan ke campuran roti dan kelapa kering, panggang dengan suhu 175° celcius hingga matang.</li>
							</ol>
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-tiliaya">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP TILIAYA KHAS GORONTALO</h4>							
						</div> <!--  .recipe-title -->
						<a id="tiliaya-play-button" href="https://youtu.be/BLLN4pUwCB0" data-fancybox="resep-tiliaya" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/tilaya.jpg'|theme }}" alt="Tilaya" />
						</a>
						<div class="text-center recipe--button">
							<a id="tiliaya" href="javascript:;" class="button" data-fancybox data-src="#tilaya-link">lihat resepnya</a>							
							<span class="facebook-share button" data-js="facebook-share">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></span>		
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Tiliya Khas Gorontalo untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="tilaya-link" class="recipe--popup">
							<h4>RESEP TILIAYA KHAS GORONTALO</h4>				
							<br />
							<p><strong>Bahan:</strong></p>
							<p>6 btr Telur</p>
							<p>300 gr Gula merah</p>
							<p>100 gr Susu kental manis Frisian Flag Cokelat</p>
							<p>300 ml Santan kental dari 1 butir kelapa</p>
							<p>50 gr Tepung beras</p>
							<br />
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>1.Siapkan loyang ukuran 18x18cm, olesi dengan margarin, alasi dengan daun pisang yang tealah dioles dengan margarin. Panaskan kukusan.</li>
								<li>Kocok telur dan gula merah hingga gula larut. Masukkan susu kental manis Frisian Flag Cokelat, aduk rata.</li>
								<li>Tambahkan santan dan tepung beras, aduk rata kembali.</li>
								<li>Tuangkan adonan ke dalam loyang berukuran 18x18cm. Kukus hingga matang, dinginkan.</li>
								<li>Potong sesuai selera, sajikan setelah dingin.</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-es-manado-exotica">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP ES MANADO EXOTICA KHAS SULAWESI UTARA</h4>							
						</div> <!--  .recipe-title -->
						<a id="es-manado-play-button" href="https://youtu.be/4PZURZ8TnWs" data-fancybox="resep-es-manado-exotica" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/es-manado-exotica.jpg'|theme }}" alt="Es Manado Exotica" />
						</a>
						<div class="text-center recipe--button">
							<a id="es-manado" href="javascript:;" class="button" data-fancybox data-src="#es-manado-exotica-link">lihat resepnya</a>							
							<span class="facebook-share button" data-js="facebook-share">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></span>			
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Es Manado Exotica Khas Sulawesi Utara untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="es-manado-exotica-link" class="recipe--popup">
							<h4>RESEP ES MANADO EXOTICA KHAS SULAWESI UTARA</h4>							
							<br />
							<p><strong>Bahan Kuah:</strong></p>
							<p>500 gr Buah sirsak matang tanpa biji</p>
							<p>300 ml Air</p>
							<p>½ klg Susu kental manis putih Frisian Flag Gold</p>
							<br />
							<p><strong>Bahan Isi:</strong></p>
							<p>50 gr Kiwi, potong kotak</p>
							<p>50 gr Anggur merah, potong kotak</p>
							<p>50 gr Strawberry, potong kotak</p>
							<p>2 sdt Selasih</p>
							<p>Secukupnya Es batu</p>
							<br />
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Kuah : blender bahan kuah hingga halus, saring.</li>
								<li>Siapkan mangkuk saji, atur es batu, kiwi, anggur, strawberry, biji selasih, kemudian siram dengan bahan kuah, siram kembali dengan susu kental manis putih Frisian Flag Gold. Sajikan dingin</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-barongko">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP BARONGKO KHAS SULAWESI TENGAH</h4>							
						</div> <!--  .recipe-title -->
						<a id="barongko-play-button" href="https://youtu.be/X-sNYCS1dnQ" data-fancybox="resep-barongko" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/barongko.jpg'|theme }}" alt="Barongko" />
						</a>
						<div class="text-center recipe--button">
							<a id="barongko" href="javascript:;" class="button" data-fancybox data-src="#barongko-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Barongko Khas Sulawesi Tengah untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="barongko-link" class="recipe--popup">
							<h4>RESEP BARONGKO KHAS SULAWESI TENGAH</h4>							
							<br />
							<p><strong>Bahan Kuah:</strong></p>
							<p>3 butir Telur</p>
							<p>100 gr Gula pasir</p>
							<p>150 ml Santan kental</p>
							<p>½ klg Susu Kental Manis putih Frisian Flag Gold</p>
							<p>½ sdt Vainilla essence</p>
							<p>½ sdt Garam</p>
							<p>3 buah Pisang kepok</p>
							<p>Secukupnya Daun pisang</p>
							<br />							
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Panaskan kukusan.</li>
								<li>Campur semua bahan kecuali daun pisang ke dalam blender, haluskan.</li>
								<li>Siapkan cup aluminium foil, masukkan adonan yang telah dihaluskan, kemudian kukus hingga matang sekitar 30-45 menit.</li>
								<li>Dapat disajikan selagi hangat atau dingin.</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-kue-tetu-pisang">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP KUE TETU PISANG KHAS SULAWESI BARAT</h4>							
						</div> <!--  .recipe-title -->
						<a id="kue-tetu-play-button" href="https://www.youtube.com/watch?v=oKWjdKdZAko" data-fancybox="resep-kue-tetu-pisang" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/kue-tetu.jpg'|theme }}" alt="Kue Tetu" />
						</a>
						<div class="text-center recipe--button">
							<a id="kue-tetu" href="javascript:;" class="button" data-fancybox data-src="#kue-tetu-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Kue Tetu Pisang Khas Sulawesi Barat untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="kue-tetu-link" class="recipe--popup">
							<h4>RESEP KUE TETU PISANG KHAS SULAWESI BARAT</h4>							
							<br />
							<p><strong>Bahan I :</strong></p>
							<p>400 gr Terigu</p>
							<p>800 ml Santan cair</p>
							<p>200 ml Susu kental manis putih Frisian Flag Gold</p>
							<p>50 gr Gula pasir</p>
							<br />							
							<p><strong>Bahan II :</strong></p>
							<p>2 buah Pisang kepok, iris tipis</p>
							<p>100 gr Kelapa parut muda</p>		
							<br />							
							<p><strong>Bahan III :</strong></p>
							<p>200 ml Santan kental</p>
							<p>100 ml Susu kental manis putih Frisian Flag Gold</p>
							<p>½ sdm Maizena</p>
							<p>½ sdt Garam</p>					
							<br />							
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Siapkan daun pisang yang dibentuk takir kotak, beri daun pandan pada dasar takir. Siapkan kukusan.</li>
								<li>Campur bahan I, aduk rata, saring. Tuangkan adonan hingga ½ bagian takir, kukus selama 10 menit.</li>
								<li>Atur pisang dibagian atas adonan I yang telah dikukus setengah matang. Kemudian siram dengan bahan III yang telah dicampur rata. Kukus kembali hingga matang sekitar 30-45 menit.</li>
								<li>Sajikan selagi hangat atau setelah dingin.</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-sanggara-cokelat-keju">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP SANGGARA COKELAT KEJU KHAS SULAWESI TENGGARA</h4>							
						</div> <!--  .recipe-title -->
						<a id="sanggara-cokelat-play-button" href="https://youtu.be/RqunkHobjAA" data-fancybox="resep-sanggara-cokelat-keju" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/sanggara-coklat.jpg'|theme }}" alt="Sanggara Coklat" />
						</a>
						<div class="text-center recipe--button">
							<a id="sanggara-cokelat" href="javascript:;" class="button" data-fancybox data-src="#sanggara-coklat-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Sanggara Cokelat Keju Khas Sulawesi Tenggara untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="sanggara-coklat-link" class="recipe--popup">
							<h4>RESEP SANGGARA COKELAT KEJU KHAS SULAWESI TENGGARA</h4>							
							<br />
							<p><strong>Bahan :</strong></p>
							<p>5 buah Pisang</p>
							<p>1 btr Telur</p>
							<br />							
							<p><strong>Bahan Isi :</strong></p>
							<p>100 gr Kacang tanah, sangrai, kupas, cincang</p>
							<p>50 gr Meises</p>
							<p>50 gr Gula pasir</p>
							<p>50 ml Susu kental manis putih Frisian Flag Gold</p>
							<p>1 sdm Margarin</p>
							<br />							
							<p><strong>Bahan Saus :</strong></p>
							<p>100 ml Susu kental manis putih Frisian Flag Gold</p>
							<p>50 gr Keju parut</p>
							<p>½ sdm Maizena</p>
							<p>100 ml Air</p>		
							<br />							
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Campur bahan isi, aduk rata.</li>
								<li>Saus : campur bahan saus, masak di atas api kecil hingga mengental. Dinginkan.</li>
								<li>Goreng pisang hingga matang tiriskan.</li>
								<li>Buat turihan memanjang pada pisang yang telah digoreng, isi dengan adonan isi. Celupkan pisang pada telur, goreng kembali hingga matang lapisan telurnya.</li>
								<li>Sajikan bersama saus keju dan taburan keju.</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-pisang-epe-lumpur">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP PISANG EPE LUMPUR KHAS SULAWESI SELATAN</h4>							
						</div> <!--  .recipe-title -->
						<a id="pisang-epe-play-button" href="https://youtu.be/ApE2qHzRdfM" data-fancybox="resep-pisang-epe-lumpur" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/pisang-epe.jpg'|theme }}" alt="Pisang epe" />
						</a>
						<div class="text-center recipe--button">
							<a id="pisang-epe" href="javascript:;" class="button" data-fancybox data-src="#pisang-epe-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Pisang Epe Lumpur Khas Sulawesi Selatan untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="pisang-epe-link" class="recipe--popup">
							<h4>RESEP PISANG EPE LUMPUR KHAS SULAWESI SELATAN</h4>
							<br />
							<p><strong>Bahan :</strong></p>
							<p>5 buah Pisang kepok setengah matang</p>
							<br />							
							<p><strong>Bahan Saus :</strong></p>
							<p>100 ml Santan kental</p>
							<p>100 ml Susu kental manis putih Frisian Flag Gold</p>
							<p>100 gr Gula aren, iris halus</p>
							<p>½ sdm Maizena</p>
							<p>150 ml Air</p>
							<br />							
							<p><strong>Bahan Taburan :</strong></p>
							<p>50 gr Kurma, potong kotak</p>
							<p>50 gr Kismis</p>
							<p>50 gr Kacang tanah sangrai, cincang kasar</p>
							<br />							
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Saus : campur bahan saus, masak di atas api kecil hingga kental. Dinginkan.</li>
								<li>Bakar pisang (diatas grill pan) hingga permukaan pisang matang dan gosong, pipihkan. Bakar kembali hingga matang.</li>
								<li>Sajikan selagi hangat dengan saus dan taburan bahan taburan.</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-kopi-rarobang">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP KOPI RAROBANG KHAS MALUKU</h4>							
						</div> <!--  .recipe-title -->
						<a id="kopi-rarobang-play-button" href="https://youtu.be/gR68A5YgJZE" data-fancybox="resep-kopi-rarobang" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/kopi-rarobang.jpg'|theme }}" alt="Kopi Rarobang" />
						</a>
						<div class="text-center recipe--button">
							<a id="kopi-rarobang" href="javascript:;" class="button" data-fancybox data-src="#kopi-rarobang-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Kopi Parobang Khas Maluku untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="kopi-rarobang-link" class="recipe--popup">
							<h4>RESEP KOPI RAROBANG KHAS MALUKU</h4>							
							<br />
							<p><strong>Bahan :</strong></p>
							<p>750 ml Air</p>
							<p>3 sdm Kopi bubuk hitam</p>
							<p>50 gr Jahe, memarkan</p>
							<p>1 btg Kayu manis</p>
							<p>3 butir Cengkeh</p>
							<p>1 lembar Daun pandan</p>
							<p>75 gr Gula pasir</p>
							<p>150 ml Susu kental manis putih Frisian Flag</p>
							<p>100 gr Kenari sangrai, cincang kasar</p>
							<br />							
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Campur kopi bubuk, jahe, kayu manis, cengkih, daun pandan, dan gula pasir. Rebus bersama air hingga mendidih dan air sedkit menyusut.</li>
								<li>Angkat air rebusan, saring. Masukkan susu kental manis putih Frisian Flag Gold, aduk rata.</li>
								<li>Siapkan gelas saji, tuangkan kopi tabur dengan kenari cincang. Sajikan selagi panas</li>
							</ol>										
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-pisang-coe-ternate">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP PISANG CO'E TERNATE KHAS MALUKU UTARA</h4>							
						</div> <!--  .recipe-title -->
						<a id="pisang-co'e-play-button" href="https://youtu.be/OfjtqNG-hAQ" data-fancybox="resep-pisang-coe-ternate" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/pisang-co'e.jpg'|theme }}" alt="Pisang Coe Ternate" />
						</a>
						<div class="text-center recipe--button">
							<a id="pisang-co'e" href="javascript:;" class="button" data-fancybox data-src="#pisang-coe-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#" 
							class="prettySocial button" 
							data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara" 
							data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg" 
							data-type="twitter" 
							data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Pisang Co'e Ternate Khas Maluku Utara untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="pisang-coe-link" class="recipe--popup">
							<h4>RESEP PISANG CO'E TERNATE KHAS MALUKU UTARA</h4>							
							<br />
							<p><strong>Bahan I :</strong></p>
							<p>5 bh pisang raja matang (450 g), potong kotak</p>
							<p>100 g tepung terigu protein sedang</p>
							<p>100 ml Susu Kental Manis Frisian Flag</p>
							<p>¼ sdt garam</p>
							<p>350 ml santan</p>
							<p>50 g kenari, sangrai, iris tipis panjang</p>
							<br />							
							<p><strong>Bahan II :</strong></p>
							<p>75 g tepung terigu protein sedang</p>
							<p>¾ sdt garam</p>
							<p>400 ml santan</p>
							<p>50 g kenari, disangrai, diiris panjang untuk taburan</p>
							<br />
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Bahan I: Campur tepung terigu, Susu Kental Manis Frisian Flag, dan garam sampai rata.</li>
								<li>Tuang santan sedikit-sedikit sambil diaduk sampai rata.</li>
								<li>Masukkan pisang raja dan kenari, aduk rata.</li>
								<li>Tuang ke loyang 20x20x4 cm yang dialas plastik.</li>
								<li>Kukus 30 menit sampai setengah matang.</li>
								<li>Bahan II: Campur tepung terigu, garam, dan santan sampai rata. Tuang ke atas bahan I. Tabur kenari. Kukus 30 menit sampai matang.</li>
							</ol>						
							<br />
							<p><strong>10 potong</strong></p>				
							<p><strong>40 menit</strong></p>				
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->

				<div class="col-sm-12 col-md-4" id="resep-kue-lontar-susu">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP KUE LONTAR SUSU KHAS PAPUA</h4>							
						</div> <!--  .recipe-title -->
						<a id="kue-lontar-susu-play-button" href="https://youtu.be/VxDKclfFDm0" data-fancybox="resep-kue-lontar-susu" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/kue-lontar.jpg'|theme }}" alt="Kue Lontar"/>
						</a>
						<div class="text-center recipe--button">
							<a id="kue-lontar-susu" href="javascript:;" class="button" data-fancybox data-src="#kue-lontar-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Kue Lontar Susu Khas Papua untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="kue-lontar-link" class="recipe--popup">
							<h4>RESEP KUE LONTAR SUSU KHAS PAPUA</h4>							
							<br />
							<p><strong>Bahan :</strong></p>
							<p>Kulit:</p>
							<p>100 g margarin</p>
							<p>150 g tepung terigu</p>
							<p>½ sdt vanili</p>
							<br />						
							<p>Isi:</p>
							<p>385 ml (1 kaleng) Susu Kental Manis Frisian Flag Full Cream</p>
							<p>8 btr kuning telur, kocok lepas</p>
							<p>300 ml air panas</p>
							<p>1 sdt rhum	</p>							
							<br />
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Kulit: Campur semua bahan dan aduk hingga merata. Giling tipis kemudian pindahkan ke piring lontar yang terlebih dahulu sudah diolesi dengan margarin dan kemudian sisihkan.</li>
								<li>Isi: Campur semua bahan, aduk rata. Saring langsung ke dalam kulit atau piring.</li>
								<li>Oven adonan pada suhu 180 derajat Celcius selama 15 menit kemudian turunkan suhunya hingga 160 derajat Celcius selama sekitar 45 menit, angkat dan dinginkan. Sajikan.</li>
							</ol>						
							<br />
							<p><strong>10 potong</strong></p>				
							<p><strong>70 menit</strong></p>				
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->				

				<div class="col-sm-12 col-md-4" id="resep-egg-tart">
					<div class="recipe">
						<div class="recipe-title">
							<h4>RESEP EGG TART KHAS PAPUA BARAT</h4>							
						</div> <!--  .recipe-title -->
						<a id="egg-tart-play-button" href="https://youtu.be/gn6gCGF8kY4" data-fancybox="resep-egg-tart" class="images">
							<img src="{{ 'assets/img-ramadhan/card/resep/egg-tart.jpg'|theme }}" alt="Egg Tart" />
						</a>
						<div class="text-center recipe--button">
							<a id="egg-tart" href="javascript:;" class="button" data-fancybox data-src="#egg-tart-link">lihat resepnya</a>							
							<a href="#" class="button" onclick="openFacebookDialog()">Bagikan <i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"
                 class="prettySocial button"
                 data-url="https://www.frisianflag.com/aktivitas-kami/resep-nusantara"
                 data-media="https://www.frisianflag.com/themes/rainlab-bonjour/assets/img-ramadhan/share.jpg"
                 data-type="twitter"
                 data-description="Cobain berbagai kreasi Frisian Flag Kental Manis Resep Egg Tart Khas Papua Barat untuk sekeluarga.">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div> <!--  .text-center -->
						<div style="display: none;" id="egg-tart-link" class="recipe--popup">
							<h4>RESEP EGG TART KHAS PAPUA BARAT</h4>							
							<br />
							<p><strong>Bahan :</strong></p>
							<p>Bahan Kulit :</p>
							<p>150 gr Terigu</p>
							<p>100 gr Margarine</p>
							<br />
							<p>Bahan Isi : </p>
							<p>8 btr Kuning telur</p>
							<p>1 klg Susu kental manis putih Frisian Flag Gold</p>
							<p>100 ml Air panas</p>
							<p>½ sdt Vanilla essence</p>
							<br />
							<p><strong>Cara membuat:</strong></p>
							<ol>
								<li>Siapkan cetakan pie berdiameter 18 cm. Olesi dengan margarin. Panaskan oven.</li>
								<li>Campur bahan kulit, aduk rata.</li>
								<li>Campur bahan isi, aduk rata.</li>
								<li>Pipihkan adonan kulit, cetak kedalam cetakan pie, tusuk dengan garpu, tuangkan adonan isi. Panggang dalam oven selama 45 menit.</li>
								<li>Sajikan selagi hangat atau setelah dingin.</li>
							</ol>						
						</div>
					</div> <!--  .recipe -->
				</div> <!--  .col-sm-12 col-md-6 col-xmd-4 mg-b-20 -->				

			</div> <!--  .row -->			

		</div> <!--  .container -->
  </section>

  <style>
  	.button-reds {
  		background: #e83366 !important;
  	}
  </style>

{% partial 'site/footer-resep-nusantara' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->