description = "Layout for Static Pages"

[staticPage]
useContent = 1
default = 0

[subscriberform]

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"

[SessionClose]
load_js = 1
==
<?php
function onStart() {
    // Get Router
    $router = $this->controller->getRouter();
    $this->page['slug'] = $router->getURL();
}
?>
==
{% partial 'site/header' %}
<head>
    <link href="{{ 'assets/css/style-ramadhan2024.css'|theme }}" rel="stylesheet">
</head>
<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title') }}</h1>

<div class="static-baner-pages">
    {% if this.page.slug == 'aktivitas-kami/milky-incredibles' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/milkiincridibles/header-desktop.jpg'|theme }}" alt="Header desktop FF"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/milkiincridibles/header-mobile.jpg'|theme }}" alt="Header Mobile FF"/> </div>
    {% elseif this.page.slug == 'aktivitas-kami/jrnba-meet-and-greet' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/jaylen/jaylen-desktop.jpg'|theme }}" alt="Header desktop FF"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/jaylen/jaylen-mobile.jpg'|theme }}" alt="Header Mobile FF"/> </div>
    {% else %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Header desktop FF"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/staticbaner-xs.jpg'|theme }}" alt="Header Mobile FF"/> </div>
    {% endif %}
</div>

<div id='main-section' class="container" style="padding: 60px 0;">
    {% page %}
</div>

{% partial 'site/footer' %}

<!-- {text name="title_en" label="Title (en)" tab="Title (en)"}{/text} -->
<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->