description = "Layour for Sustainability Sehat Page"

[staticPage]
useContent = 1
default = 0
==
<?php
function onEnd(){
    $this->page->amp_url = $this->pageUrl('sustainability/sustainability-sejahtera-dairy-amp');
    }
?>
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp banner-lp" style="background:url({{ 'sustainability/sejahtera/dairy_village-100.jpg'|media  }})">
    	<div class="container">
        	<div class="banner-panel">
        	    <div class="banner-description">
        			<h2>Dairy Village</h2>
        		</div>
        	</div>
    	</div>
    </div>
</div>


<div class="section">
    <div id='main-section' class="container sustainability-pages">
        <div class="row">
            
            <div class="col-md-12 top-copy">
            <p class="description">Diresmikan tahun 2018, <i>Dairy Village</i> berada di Ciater, Subang Jawa Barat. <i>Dairy Village</i> ini merupakan percontohan untuk peternakan sapi perah modern, ramah lingkungan, dan terintegrasi.</p>
            
            </div>
            <div class="col-md-12 top-copy">
  
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid-box">
                           <img src="{{ 'sustainability/sejahtera/Dairy_Vilage_baru_2.png'|media  }}">
                        </div>
                    </div>
                    
                </div>
  
            </div>
        </div>
    </div>
        
</div>

<link rel="stylesheet" href="{{ 'assets/css/sustainability.css'|theme }}">

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->