description = "Layour for Sustainability Sehat Page"

[staticPage]
useContent = 1
default = 0
==
<?php
function onEnd(){
    $this->page->amp_url = $this->pageUrl('sustainability/sustainability-sejahtera-farmer-amp');
    }
?>
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp banner-lp" style="background:url({{ 'sustainability/sejahtera/Asset_36@2x-100.jpg'|media  }})">
    	<div class="container">
        	<div class="banner-panel">
        	    <div class="banner-description">
        			<h2>Farmer2Farmer</h2>
        		</div>
        	</div>
    	</div>
    </div>
</div>


<div class="section">
    <div id='main-section' class="container sustainability-pages">
        <div class="row">
            
            <div class="col-md-12 top-copy">
            <p class="description">Program Inisiatif Frisian Flag Indonesia yang bertujuan untuk menginspirasi dan mendorong motivasi tinggi di antara petani lokal untuk menjadi yang terbaik.</p>
            
            </div>
            <div class="col-md-12 top-copy">
  
                
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="grid-box">
                           <img src="{{ 'sustainability/sejahtera/Asset_26.png'|media  }}">
                        </div>
                        <div class="grid-box">
                           <img src="{{ 'sustainability/sejahtera/Asset_27.png'|media  }}">
                        </div>
                        <div class="grid-box">
                           <img src="{{ 'sustainability/sejahtera/Asset_28.png'|media  }}">
                        </div>
                        
                    </div>
                    
                </div>
  
            </div>
        </div>
    </div>
        
</div>
<link rel="stylesheet" href="{{ 'assets/css/sustainability.css'|theme }}">


{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->