description = "Layout for Sweet Delight"

[staticPage]
useContent = 1
default = 0

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"

[SessionClose]
load_js = 1
==
{% partial 'site/header' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>

<div class="static-baner-pages">
    <div class="imgwrp">
    	<img src="{{ 'assets/img/sweetdelight/banner.jpg'|theme }}" class="hidden-xs" alt="Banner Sweet Delight Desktop" />
      <img src="{{ 'assets/img/sweetdelight/banner-mobile.jpg'|theme }}" class="visible-xs" alt="Banner Sweet Delight Mobile" />
    </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">Homepage</a></li>
            <li>
              <a href="#" class="active">
                SWEET DELIGHT
              </a>
            </li>
        </ul>
    </div>
</div>

<div id='main-section' class="container" style="padding: 60px 0;">
    <div class="col-md-12">
        <div class="default-content">

        	<div class="row">
						<div class="col-sm-12 col-md-10" style="margin: 0 auto; float: none;">

							<div class="row">
								<div class="col-sm-4"><img src="{{ 'assets/img/sweetdelight/product.png'|theme }}" alt="Sweet Delight Product" /></div> <!--  .col-sm-4 -->	
								<div class="col-sm-8">
									<h5 style="color: #ffbf13;">Susu Siap Minum Frisian Flag Purefarm Sweet Delight</h5>
									<p>adalah susu putih UHT dengan rasa gurih dan manis dengan aroma yang menyegarkan. Perpaduan rasa susu dan manis yang pas, dapat menemani  memulai hari dengan semangat dan <a href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/pentingnya-peran-susu-dalam-pedoman-umum-gizi-seimbang">mendukung asupan gizi harian Anda.</a></p>
									<p>Susu Siap Minum Frisian Flag Purefarm Sweet Delight, Nutrisi Maksimal dengan Rasa Manis yang Pas, Jadikan Pagimu Menyenangkan!</p>
									<br />
									<a href="http://bit.ly/JDFFSweetDelight" target="_blank" class="button">beli di sini</a>
								</div> <!--  .col-sm-8 -->	
							</div> <!--  .row -->
						</div> <!--  .col-sm-12 -->
					</div> <!--  .row -->
					<br />
					<br />
        	<div class="row">
						<div class="col-sm-12">
							<a data-fancybox href="https://www.youtube.com/watch?v=YPWZtHNgGPw">
								<img src="{{ 'assets/img/sweetdelight/thumbnail.jpg'|theme }}" alt="Sweet Delight Thumbnail" />								
							</a>
							<br /><br />
						</div> <!--  .col-sm-12 -->
					</div> <!--  .row -->

					<div class="row">
						<div class="col-sm-12 col-md-6" style="margin-bottom: 20px;">
							<a target="_blank" href="https://www.frisianflag.com/milkpedia/kapan-dan-bagaimana-cara-minum-susu/rutin-minum-susu-di-pagi-hari-lebih-dari-sekadar-memberi-manfaat-gizi"><img src="{{ 'assets/img/sweetdelight/card-1.jpg'|theme }}" alt="Card 1" /></a>
						</div> <!--  .col-sm-12 col-md-6 -->
						<div class="col-sm-12 col-md-6" style="margin-bottom: 20px;">
							<a target="_blank" href="https://www.frisianflag.com/milkpedia/nutrisi-dan-kesehatan/musik-kunci-semangat-olahraga-di-pagi-hari"><img src="{{ 'assets/img/sweetdelight/card-2.jpg'|theme }}" alt="Card 2" /></a>
						</div> <!--  .col-sm-12 col-md-6 -->
					</div> <!--  .row -->


        </div>
    </div>
</div>

<style>
	.default-content h3 {
	    font-size: 22px;
	    line-height: 1.2;
	}

	@media screen and (min-width: 767px) {
		.default-content h3 {
			font-size: 30px;
		}
	}

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->