==
<div class="container-menutab">
    <div class="container-one">
      <ul>
        <li class="toggle visible-xs visible-sm">
          <a href="javascript:;" class="active">
              {% if ( this.page.url == '/aktivitas-kami/momenextra/valentine' ) %}
                  #MomenEkstraValentine
              {% elseif ( this.page.url == '/aktivitas-kami/momenextra/alfamart' ) %}
                  #MomenEkstraAlfamart
              {% elseif ( this.page.url == '/aktivitas-kami/momenextra/indomaret' ) %}
                  #MomenEkstraIndomaret
              {% endif %}
          </a>
        </li>
        <li>
          <a href="{{ '/aktivitas-kami/momenextra/valentine' }}" {{ (this.page.url == '/aktivitas-kami/momenextra/valentine' ? 'class="active hidden-xs"' : '') }}>
            #MomenEkstraValentine
          </a>
        </li>
        <li>
          <a href="{{ '/aktivitas-kami/momenextra/alfamart' }}" {{ (this.page.url == '/aktivitas-kami/momenextra/alfamart' ? 'class="active hidden-xs"' : '') }}>
            #MomenEkstraAlfamart
          </a>
        </li>
        <li>
          <a href="{{ '/aktivitas-kami/momenextra/indomaret' }}" {{ (this.page.url == '/aktivitas-kami/momenextra/indomaret' ? 'class="active hidden-xs"' : '') }}>
            #MomenEkstraIndomaret
          </a>
        </li>
      </ul>
    </div>
</div>