description = "footer without login"

[viewBag]
==
<?php
function onStart(){
    $this['GTMETRIX'] = 'NO';
    if(strpos($_SERVER['HTTP_USER_AGENT'], 'X11; Linux x86_64) AppleWebKit/537.36') !== false || 
    strpos($_SERVER['HTTP_USER_AGENT'], 'GTmetrix') !== false
    ){
     $this['GTMETRIX'] = 'YES';
    }
}
?>
==
{% if GTMETRIX == 'NO' %}
    <footer class="footer clearfix">
		    <div class="footerblue">
		        
		        <div class="footer__widget text-center clearfix">
		            <div class="col-md-4 footer__widget__box">
		                <div class="col-md-12">
		                    <h3 class="footer__widget__title">Situs Kami Yang Lain</h3>
		                    <a href="https://www.frieslandcampina.com" class="sites-list" target="_blank">
		                        <img src="{{ 'assets/img-ramadhan/icon/friesland.png'|theme }}" alt="Friesland">
		                    </a>

		                    <a href="https://www.ibudanbalita.com/" class="sites-list" target="_blank">
		                        <img src="{{ 'assets/img-ramadhan/icon/ibu-balita.png'|theme }}" alt="Ibu & Balita">
		                    </a>

		                    <!-- <a href="https://www.friso.co.id/" class="sites-list" target="_blank">
		                        <img src="{{ 'assets/img-ramadhan/icon/friso.png'|theme }}" alt="Friso">
		                    </a> -->

		                    <a href="https://www.omela.com" class="sites-list" target="_blank">
		                        <img src="{{ 'assets/img-ramadhan/icon/omela.png'|theme }}" alt="Omela">
		                    </a>
		              <!--       <a href="https://www.susubendera.com" class="sites-list" target="_blank">
		                                              <img src="{{ 'assets/img/other-sites/Logo_Susu_Bendera.png'|theme }}"
		                                           alt="Susu Bendera">
		                                          </a> -->
		                </div>
		            </div>

                <div class="col-md-4 footer__widget__box">
                    <div class="col-md-12">
                    	<h3 class="footer__widget__title">Fakta Seru #30</h3>
                    	<p>Susu akan tetap segar lebih lama ketika ditambahkan sejumput garam.</p>
                    	<p style="font-size: 12px;"><em>Sumber :<a href="https://www.farmflavor.com/at-home/cooking/dairy-fun-facts/" rel="noopener noreferrer" target="_blank"> Farmflavor.com</a></em></p>
                    </div>
                </div>

		            <div class="col-md-4 footer__widget__box">
		            <div class="col-md-12">
		                <h3 class="footer__widget__title">Temukan Kami</h3>
		                <div class="social-follow">
		                    <a href="https://www.facebook.com/FrisianFlagID" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		                    <a href="https://twitter.com/FrisianFlagID" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		                    <a href="https://www.instagram.com/frisianflagid/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		                    <a href="https://www.youtube.com/user/frisianflagger" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		                </div>
		            </div>
		            </div>
		        </div>

		        <div class="footer__address text-center">
		            <p>Jl. Raya Bogor KM 5,  Pasar Rebo, Jakarta Timur, Indonesia 13760 <a href="https://www.google.co.id/maps/place/PT.+Frisian+Flag+Indonesia/@-6.3122231,106.8617656,15z/data=!4m5!3m4!1s0x2e69ed0827ec9d73:0x8a08cc1af1e6ef0e!8m2!3d-6.3050945!4d106.8642973" target="_blank">Map</a> &nbsp; &nbsp; Telp +62 21 8410945 | PO BOX  4074 Jakarta 13760 Indonesia <br> Toll Free Layanan Peduli Frisian Flag 0-80018-21-406; Senin - Jumat, 08:00 - 16:30 WIB, E-mail: layanan.peduli@frieslandcampina.com</p>
		        </div>

		        <div class="footer__copyright">
		            <div class="col-md-7">
		                <p>Frisian Flag Indonesia is a subsidiary of Royal FrieslandCampina N.V. Copyright &copy; 2017. All rights reserved.</p>
		            </div>

		            <div class="col-md-5">
		                <ul class="footer__menu">
		                    <li><a href="https://www.frisianflag.com/syarat-ketentuan">Syarat Ketentuan</a></li>
		                    <li><a href="https://www.frisianflag.com/kebijakan-cookie">Kebijakan Cookie</a></li>
		                    <li><a class="optanon-toggle-display" style="cursor: pointer;">Pengaturan Cookie</a></li>
		                     <li><a href="https://www.frisianflag.com/kebijakan-privasi">Kebijakan Privasi</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>

		</footer>
{% endif %}
	    <script src="https://d5r0s9boode1v.cloudfront.net/modules/system/assets/js/framework.combined-min.js"></script>
	    
	    {% placeholder footer %}
    {% framework extras %}
	 {% scripts %}
	
  </body>
</html>