[viewBag]
==
<div id="forgot" class="popup popup__login">
	<div class="popup__login-heading">Frisian Flag Connect</div> <!--  .popup__login-heading -->
	<div class="popup__login-body">		

		<form class="form-primary" data-request="onRestorePassword" data-request-flash>
		
			<div class="form-group"> 
				<span for="email_forgot">Email</span> 
				<input type="email" class="form-control" name="emails" id="email_forgot" placeholder="Email" required="required"> 
			</div>
			
			<div class="form-submit">
				<input type="submit" class="button full-width" value="reset password" />				
			</div> <!--  .form-submit -->
		</form>
		{% flash success %}
			<p>{{ message }}</p>
		{% endflash %}
	</div> <!--  .popup__login-body -->
</div>
<!-- akhir forgot password -->