[viewBag]
==
<div class="container-fluid" style="padding: 0; margin: 0;background: #e40613">
    <div class="row" style="margin: 0">
      <!-- slider penipuan -->
      <div class="col-sm-6" style="padding: 0">
        <div class="swiper-container voucher-kemerdekaan">
          <div class="swiper-wrapper">
            {% for i in 1..8 %}
            <div class="swiper-slide">
              <img src="{{ url('assets/img/kemerdekaan/voucher/tipu-'|theme) }}{{ i }}-c.jpg" style="width: 100%">
            </div>
            {% endfor %}
            <label class="label-slider" style="text-align: center; color: white; font-size: 28px;font-family:Brevia-Black; width: 100%;position: absolute; background: #e62900;padding:1.75rem">CONTOH KUPON / SELEBARAN PENIPUAN</label>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
      <!-- end slider -->
      <div class="col-sm-6" style="padding: 0">
        <div class="list-warning">
          <h2>HATI-HATI PENIPUAN!</h2>
          <ul style="padding-left: 20px; margin: 0; color: white;">
           
            <li>Pemenang tidak dipungut biaya apapun. Pajak hadiah, administrasi dan biaya kirim hadiah ditanggung oleh PT Frisian Flag Indonesia</li>
             <li>Frisian Flag tidak mengeluarkan promosi dalam bentuk kupon, email, telepon, sms, website atau selebaran lain diluar program ini.Waspada penipuan mengatasnamakan Frisian Flag Indonesia</li>
            <li>Pengumuman pemenang hanya ada di <a style="color: white;font-style:italic"href="https://www.frisianflag.com/"><strong>www.frisianflag.com</strong></a> untuk informasi lebih lanjut silahkan hubungi 021-80615563 ( hari kerja Senin-Jumat 08:00 - 16:00 WIB)</li>
              <li><strong>HARAP KONFIRMASI DAN LAPORKAN SETIAP BENTUK INFORMASI YANG MENCURIGAKAN DI 021 -8061 5563 atau LAYANAN PEDULI 0-80018-21-406 BEBAS PULSA</strong></li>
           
          </ul>
        
        </div>
        <!-- <img src="{{ 'assets/img/kemerdekaan/hati-hati-penipuan.jpg'|theme }}" alt="Hati hati penipuan" width="100%"> -->
      </div>
    </div>
  </div>

  <div id='main-section' class="container" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="row">
      <div class="col-md-12">
        <div class="default-content">
        <h3>SYARAT DAN KETENTUAN PROMOSI FRISIAN FLAG UNDIAN HUJAN EMAS FRISIAN FLAG GOLD (“Promo Undian”)</h3>
        <br />
             <p>Program Promo Undian ini diselenggarakan oleh PT FRISIAN FLAG INDONESIA, berkantor di Jalan Raya Bogor KM.5 Jakarta 13760, Indonesia (untuk selanjutnya disebut sebagai “Penyelenggara” atau “FFI”).</p>

<p>Peserta yang terlibat dan mengikuti Promo Undian ini, dengan ini dianggap telah membaca dan memahami dengan baik, serta setuju tanpa syarat untuk patuh dan taat &nbsp;terhadap semua syarat &amp; ketentuan yang berlaku sebagaimana tercantum di bawah ini termasuk seluruh perubahannya jika ada. Keputusan Penyelenggara mengenai semua hal-hal yang terkait dengan Promo Undian ini bersifat final.</p>

<p><strong>HATI-HATI PENIPUAN</strong></p>

<p>Promo Undian ini tidak dipungut biaya apapun. Biaya pengiriman hadiah, biaya administrasi dan pajak hadiah ditanggung oleh FFI. Apabila terdapat informasi atau permintaan yang mengarahkan peserta untuk membayar sejumlah biaya dalam nominal tertentu, maka dapat dipastikan hal tersebut bermotif penipuan.</p>

<p>Informasi lebih lanjut silakan kunjungi website resmi FFI di <a href="http://www.frisianflag.com/">www.frisianflag.com</a>, atau dapat juga menghubungi Call Centre Promo FFI (021) 80615563 &nbsp;pulsa berbayar atau Layanan Peduli Frisian Flag 0-80018-21-406 bebas pulsa (hari kerja Senin- Jumat, 08:00 – 17:00 WIB) untuk menanyakan informasi dan pengaduan seputar Promo Undian ini.</p>

<p><strong>1. PERIODE PROMO UNDIAN</strong></p>

<p>1 Juli 2019 – &nbsp; 30 October 2019</p>
<p>Nomor Kemensos : 749/DYS-PSDBS.PI.01.01/07/2019</p>

<p><strong>2. PERSYARATAN PESERTA</strong></p>

<p>Peserta harus memenuhi persyaratan, sebagai &nbsp;berikut:</p>

<ul>
	<li>Warga Negara Indonesia (WNI)</li>
	<li>Berusia minimal 18 tahun di tahun 2019</li>
	<li>Berdomisili di wilayah Republik Indonesia</li>
	<li>Memiliki Kartu Tanda Penduduk (KTP)/SIM/KK/Paspor yang masih berlaku</li>
	<li>Cakap untuk melakukan perbuatan hukum</li>
	<li>Bukan merupakan karyawan, keluarga inti karyawan (ayah/ibu/istri/suami/anak) FFI, dan/atau pihak ketiga yang bekerja sama dengan FFI yang terlibat dalam penyelenggara Promo Undian ini termasuk di dalamnya supplier kemasan, distributor, agency dan karyawan dari pihak-pihak tersebut.</li>
	<li>Tidak pernah atau sedang terikat kontrak dan/atau pernah menjadi bintang iklan produsen susu selain FFI.</li>
	<li>FFI menyelenggarakan Promo Undian ini didasarkan atas itikad baik, peserta juga harus beritikad baik dalam berpartisipasi dalam Promo Undian Ini. Untuk itu, FFI berhak dan setiap saat, memiliki kewenangan mutlak untuk mendiskualifikasikan peserta yang dianggap tidak beritikad baik, termasuk diantaranya:</li>
	<ul>
	<li>Dikategorikan oleh FFI atau agency yang ditunjuk FFI sebagai “pemburu hadiah/quiz hunter”</li>
	<li>Mencemarkan nama baik, melanggar, memfitnah, merendahkan, melecehkan, mengancam FFI dan/atau brand Frisian Flag</li>
	<li>Melakukan tindakan yang menurut kebijakan FFI merupakan tindakan yang bertentangan dengan kesusilaan, kesopanan, kepatutan, dan/atau kebiasaan baik yang berlaku</li>
	<li>Melakukan kecurangan, penipuan, pemalsuan dan memberikan informasi yang tidak benar dan/atau menyesatkan; dan/atau</li>
	<li>Melanggar atau bertentangan dengan ketentuan peraturan perundang-undangan yang berlaku di Indonesia.</li>
	</ul>
</ul>

<p>&nbsp;</p>

<p><strong>3. MEKANISME PROMO UNDIAN</strong></p>

<ul>
	<li>Membeli produk Frisian Flag Kental Manis dengan varian:</li>
	<li>Frisian Flag Bendera Full Cream Gold kemasan Sachet 40 gram</li>
	<li>Frisian Flag Bendera Full Cream Gold kemasan kaleng 370 gram</li>
	<li>Frisian Flag Bendera Full Cream Gold kemasan pouch 200 gram</li>
	<li>Kirimkan 1 (Satu) label Frisian Flag Full Cream Gold kemasan Kaleng 370 gram atau 1 (Satu) Pouch kosong Frisian Flag Full Cream Gold kemasan Pouch 200 gram atau 3 (tiga) sachet kosong Frisian Flag Full Cream Gold kemasan Sachet 40 gram dalam amplop tertutup beserta data diri berupa:</li>
	<li>Nama lengkap sesuai identitas</li>
	<li>Nomor kartu identitas (KTP/SIM/KK/Paspor) yang masih berlaku</li>
	<li>Alamat lengkap sesuai kartu identitas dan alamat tempat tinggal jika berbeda dengan kartu identitas</li>
	<li>No Telp/HP yang bisa dihubungi</li>
	<li>Peserta yang mengirimkan kemasan atau label Frisian Flag selain yang disebutkan pada poin 3.2, atau campuran dari kemasan yang disebutkan pada poin 3.1 dengan kemasan lain (baik produk Frisian Flag atau tidak), atau jumlah kemasan tidak sesuai dengan ketentuan poin 3.2, atau mengirimkan kemasan palsu atau kemasan yang diduga berasal dari tempat sampah/bank sampah, akan didiskualifikasi dan tidak dapat diikutsertakan dalam Promo Undian ini.</li>
	<li>Amplop undian yang masuk setelah periode Promo Undian tidak akan diikutsertakan dalam pengundian. FFI tidak bertanggung jawab atas amplop undian yang masuk ke PO BOX &nbsp;melewati batas waktu Cap Pos pengiriman dikarenakan oleh pihak lain.</li>
	<li>Kirimkan amplop undian yang berisi kemasan kosong atau label kaleng yang tertera pada poin 3.1 ke PO BOX FRISIAN FLAG JAKARTA 10000 dengan biaya ditanggung oleh peserta.</li>
	<li>FFI menunjuk PT .Missi Idea Selaras sebagai agency yang membantu pelaksanaan undian ini.</li>
</ul>

<p><strong>4. HADIAH PROMO UNDIAN</strong></p>

<ul>
	<li>FFI menyediakan hadiah berikut bagi peserta yang terpilih dan dinyatakan sah sebagai Pemenang di hadapan badan dan instansi terkait:</li>
	<li>Satu (1) Emas Logam Mulia seberat 100gr</li>
	<li>Lima (5) Emas Logam Mulia seberat 10gr</li>
	<li>Sepuluh (10) Emas Logam Mulia seberat 5gr</li>
	<li>Lima Belas (15) Emas Logam Mulia seberat 2 gr</li>
	<li>Lima Ratus (500) Emas Logam Mulia seberat 1 gr</li>
	<li>Seribu (1000) Voucher (e-voucher) belanja @100.000,-</li>
</ul>

<p><strong>4.2 Ketentuan hadiah:</strong></p>

<ul>
	<li>Hadiah &nbsp;hanya berlaku untuk masing-masing 1 orang pemenang tiap hadiahnya.</li>
	<li>Jika peserta yang sama memenangkan lebih dari satu hadiah pada saat pengundian maka FFI berhak menentukan &nbsp;hadiah dengan nilai tertinggi untuk pemenang tersebut (dan hadiah &nbsp;dengan nilai yang lebih rendah otomatis gugur)</li>
	<li>Hadiah berupa emas akan diperoleh dari PT Aneka Tambang Tbk atau dari produsen/ toko lain dengan &nbsp;gramasi logam mulia yang sama</li>
	<li>bHadiah berupa voucher Belanja akan diputuskan sesuai dengan kebijakan FFI. Jenis voucher belanja akan disesuikan dengan jaringan toko yang ada di kota pemenang dan FFI berhak mengganti voucher dengan jaringan toko lain yang tersedia di kota pemenang</li>
	<li>Pemenang tidak dipungut biaya apapun (termasuk biaya pajak dan administrasi)</li>
	<li>Pajak Hadiah ditanggung oleh FFI. Hati-hati penipuan, FFI tidak menunjuk pihak manapun untuk meminta pembayaran apapun dari peserta Promo Undian.</li>
	<li>Hadiah tidak dapat dipindahtangankan, dialihkan kepada pihak selain pemenang, atau ditukar dengan barang lain karena alasan apapun. Namun demikian, pemenang dapat memberikan kuasa khusus dalam mengambil hadiah untuk dan atas nama pemenang dan untuk hal tersebut pemenang harus menunjukkan dan memberikan Surat Kuasa Khusus asli kepada PT Frisian Flag Indonesia yang ditandatangani di atas meterai.</li>
	<li>Semua hadiah akan dikirim selambat-lambatnya 60 hari setelah kelengkapan data peserta diterima oleh FFI atau agency yang ditunjuk oleh FFI.</li>
</ul>

<p>&nbsp;</p>

<p><strong>5. PEMILIHAN DAN PENENTUAN PEMENANG</strong></p>

<ul>
	<li>Pemenang dipilih berdasarkan undian acak tertutup terhadap amplop undian sesuai dengan syarat dan ketentuan yang ditentukan oleh FFI sebagaimana dimuat dalam bagian Mekanisme.</li>
	<li>Pengundian akan dilakukan maksimal H+15 hari setelah akhir periode undian.</li>
	<li>Pengundian akan dilakukan oleh dan tempat pihak agency yang telah ditunjuk oleh FFI untuk melakukan Pengundian, Verifikasi Pemenang, dan Penentuan Pemenang</li>
	<li>Pengundian akan dilakukan dihadapan badan dan instansi terkait termasuk Notaris, Kepolisian, Kementerian Sosial RI, Dinas Sosial Provinsi DKI Jaka6rta dan Perwakilan FFI</li>
	<li>Jika calon pemenang dihubungi 3 (tiga) kali namun tidak ada jawaban atau tidak memberikan tanggapan apapun, maka akan dinyatakan gugur tanpa ada FFI atau pihak agency yang ditunjuk untuk memberikan alasan apapun.</li>
	<li>Untuk keperluan verifikasi, calon pemenang harus dapat menunjukkan bukti berupa data diri yang sesuai dengan data yang tercantum pada Amplop Undian. FFI dengan ini mencadangkan hak-haknya untuk menolak memberikan hadiah apabila peserta tidak dapat menunjukkan bukti tersebut.</li>
	<li>Selanjutnya pihak agency yang ditunjuk FFI akan menjelaskan langkah-langkah untuk pengambilan hadiah kepada pemenang.</li>
</ul>

<p><strong>6. PENGUMUMAN PEMENANG</strong></p>

<ul>
	<li>Sewaktu-waktu dan secara acak pihak agency yang ditunjuk FFI dapat melakukan verifikasi terhadap peserta Promo Undian melalui telepon. Pastikan nomor handphone atau telepon yang diberikan oleh peserta Promo Undian aktif dan setiap saat dapat dihubungi.</li>
	<li>Jika sudah sesuai dan sah dinyatakan sebagai pemenang, maka nama pemenang akan dipublikasikan di website resmi FFI (www.frisianflag.com) dan media cetak selambat-lambatnya 30 hari setelah tanggal pengundian. Pemenang akan diminta untuk mengirimkan data diri dalam waktu 30 hari setelah surat pemenang diterima oleh pemenang. Jika dalam tenggang waktu tersebut. Pemenang tidak dapat mengirimkan kelengkapan data, maka pemenang tersebut secara otomatis melepaskan haknya untuk menerima hadiah sebagai pemenang dan akan membebaskan FFI &nbsp;dari segala permintaan, tuntutan, klaim dan/atau gugatan kepada FFI dalam bentuk apapun dan atas dasar apapun sehubungan dengan penyerahan hadiah di masa mendatang.</li>
</ul>

<p>Pastikan data diri yang diberikan sudah benar. FFI tidak bertanggung jawab atas kesalahan pengiriman hadiah yang diakibatkan karena kesalahan penulisan data diri. Setiap peserta menjamin bahwa setiap informasi yang diberikan adalah benar dan tepat.</p>
<p>&nbsp;</p>
<ul>
	<li>FFI menurut pertimbangannya sendiri, berhak untuk mendiskualifikasikan Peserta maupun Pemenang yang tidak memenuhi dan/atau melanggar ketentuan ini dan FFI berhak untuk memberikan hadiah kepada peserta lainnya sepanjang belum dimasukkan dalam Berita Acara Undian terkait.</li>
	<li>Jika peserta didiskualifikasi setelah dinyatakan sebagai pemenang dan jika karena alasan apapun peserta tidak mengambil atau mengklaim hadiah yang dimenangkan setelah dinyatakan sebagai pemenang, maka dalam waktu 60 (enam puluh) hari setelah tanggal pengumuman pemenang, hadiah akan diserahkan ke Kemensos RI sebagai Hadiah Tidak Tertebak (HTT)/tidak diambil sesuai peraturan yang berlaku.</li>
	<li>Jika karena alasan apapun pemberian hadiah tidak dapat berjalan sesuai rencana, FFI memiliki hak untuk memodifikasi ketentuan pemberian hadiah yang senilai dengan hadiah yang telah dijanjikan.</li>
</ul>

<p><strong>7. KETENTUAN LAINNYA</strong></p>

<ul>
	<li>Promo Undian ini dilaksanakan berdasarkan hukum yang berlaku di Republik Indonesia</li>
	<li>Jika terdapat perbedaan pada detail syarat dan ketentuan yang tertera dalam website dan media promosi lainnya, maka detail syarat dan ketentuan yang akan berlaku adalah yang tercantum pada website</li>
	<li>FFI tidak bertanggung jawab terhadap hal-hal di luar wewenang/kemampuan FFI termasuk namun tidak terbatas pada force majeure (antara lain bencana alam, perubahan peraturan pemerintah), penipuan atau tindak kriminal yang dilakukan oleh pihak lain, jaringan internet, sistem informasi, pengiriman yang dilakukan dengan menggunakan jasa pihak ketiga, kesalahan peserta dalam memberikan informasi, dan kesalahan/kelalaian pihak lainnya</li>
	<li>Peserta dengan ini membebaskan FFI dan afiliasinya dari segala bentuk kerugian dan atau tuntutan hukum atas tuntutan pihak ketiga atau pihak - pihak lainnya, termasuk terhadap adanya motif penipuan yang dilakukan oleh pihak-pihak tidak bertanggung jawab yang mengatasnamakan FFI melalui website palsu atau panggilan (telepon/sms) palsu kepada peserta.</li>
	<li>Seluruh perselisihan yang terkait dengan promosi akan diselesaikan secara musyarawah dan apabila tidak dapat dilakukan penyelesaian secara kekeluargaan maka penyelesaian perselisihan dilakukan di Pengadilan Negeri Jakarta Timur atau badan peradilan lain yang ditentukan oleh FFI</li>
	<li>PT Frisian Flag Indonesia sepenuhnya berhak jika dalam keadaan memaksa (force majeure) harus membatalkan Promo Undian ini, memperpendek atau memperpanjang, menunda periode Promo Undian atau mengubah ketentuan ini secara wajar.</li>
</ul>

<p><strong>DATA PRIBADI</strong></p>

<ul>
	<li>Setiap informasi yang diikutsertakan dan dikirimkan dalam Promo Undian ini menjadi hak milik FFI, dan FFI berhak untuk mempergunakan dan menyimpan sesuai dengan kepentingan FFI.</li>
	<li>Pihak FFI berhak mempublikasikan nama dan keterangan pemenang untuk keperluan komunikasi atau iklan (termasuk testimoni) berkenaan dengan Promo Undian ini di berbagai media baik cetak, elektronik, maupun digital tanpa memberi kontribusi keuangan apapun pada pemenang.</li>
</ul>

<p><strong>*Gambar &amp; warna hanya ilustrasi.</strong></p>

        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #ececec; color: #2b3990; text-align: center; font-size: 10px; padding: 25px 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <b>Hubungi Call Center Promo Frisian Flag di 021-80615563 (Senin-Jumat, 08.00-17.00)<br>
        Syarat dan Ketentuan kunjungi www.frisianflag.com<br>
      *Gambar & warna hanya ilustrasi. 1 hadiah untuk 1 pemenang. *Jika spesifikasi yang ditentukan tidak tersedia, Frisian Flag berhak menentukan hadiah lain dengan nilai dan harga yang sama</b>
      </div>
    </div>
  </div>
</section>

<style>
  .list-warning {
    padding: 50px;
  }
  .list-warning h2 {
    font-size: 36px;
    color: white;
    font-family: "Brevia-Black";
  }
  .list-warning li {
    font-family: "Brevia-Regular";
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .label-slider {
    padding: 0;
  }
  @media (max-width: 640px) {
    .label-slider {
      padding: 10px 0;
    }
    .list-warning {
      padding: 15px;
    }
    .list-warning h2 {
      font-size: 24px;
    }
    .list-warning li {
      font-size: 14px;
    }
  }
</style>