[viewBag]
==
<?php
function onStart() {
    // Get Router
    $router = $this->controller->getRouter();
    $this->page['slug'] = $router->getURL();
}
?>
==
<div class="container-menutab">
    <div class="container-one">
      <ul>
          <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">
          {% if ( this.page.slug == 'serunyatambahterus' ) %}
          Cara Mengikuti
          {% elseif ( this.page.slug == 'serunyatambahterus/download-template' ) %}
          Download Template
          {% elseif ( this.page.slug == 'serunyatambahterus/syarat-dan-ketentuan' ) %}
          Syarat dan Ketentuan
          {% elseif ( this.page.slug == 'serunyatambahterus/pemenang' ) %}
          Pemenang
          {% endif %}
          </a>
        </li>
        <li>
          <a href="{{ '/serunyatambahterus' }}" {{ (this.page.slug == 'serunyatambahterus' ? 'class="active"' : '') }}>
            Cara Mengikuti
          </a>
        </li>
        <li>
          <a href="{{ '/serunyatambahterus/download-template' }}" {{ (this.page.slug == 'serunyatambahterus/download-template' ? 'class="active"' : '') }}>
            Download Template
          </a>
        </li>
        <li>
          <a href="{{ '/serunyatambahterus/syarat-dan-ketentuan' }}" {{ (this.page.slug == 'serunyatambahterus/syarat-dan-ketentuan' ? 'class="active"' : '') }}>
            Syarat dan Ketentuan
          </a>
        </li>
        <li>
          <a href="{{ '/serunyatambahterus/pemenang' }}" {{ (this.page.slug == 'serunyatambahterus/pemenang' ? 'class="active"' : '') }}>
            Pemenang
          </a>
        </li>
      </ul>
    </div>
</div>