description = "Partial for flavour milk page"

[viewBag]

[builderDetails]
modelClass = "Definite\Products\Models\Category"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[milkpediaList]
==
<?php
use \Definite\Products\Models\Category as Category;
use \Definite\Products\Models\Product   as Product;

function onEnd() {
    
    // get the post component
    //$this->page->title = "Purefarm, Minuman Segar Susu Cair Penuh Gizi";
    //$this->page->meta_description = "Minuman segar susu cair dengan banyak pilihan rasa seru: Swiss Chocolate, Coconut Delight, Kacang Hijau, Strawberry, Full Cream, aneka varian Low Fat High Calcium";
    $this->page->meta_keywords = "frisian flag purefarm, susu cair, harga susu cair, harga susu frisian flag cair, susu cair frisian flag, susu siap minum";
    
    
    $data = Category::where('is_featured',1)->get();
    
    
    if($data){
        $this['categories'] = $data;
        
    }else{
         $cmsController = new Cms\Classes\Controller;
         return $cmsController->render("/404");
    }
    $this->page->title = $this->page->components["builderDetails"]->record->attributes["title"];
    $this->page->meta_description = $this->page->components["builderDetails"]->record->attributes["meta_description"];
    $this['cmstitle'] = $this->page->components["builderDetails"]->record->attributes["title"];
    $this['cmscontent'] = $this->page->components["builderDetails"]->record->attributes["content"];
    
    $detail = Product::where(['published' => 1,'parent_id' => 46 ])->orderBy('created_at','desc')->get();
    
     if($detail){
         
        $this['details'] = $detail;
        
    }else{
         $cmsController = new Cms\Classes\Controller;
         return $cmsController->render("/404");
    }
    

}
?>
==
{# Template file for product sub category archive #}
    
<div class="static-baner-pages a">
    
        <script>//console.log('test')</script>
    <div class="imgwrp hidden-xs"><img src="{{ 'assets/[R1]RTD-Product_2024.jpg'|theme }}" alt="Susu Siap Minum Desktop"/> </div>
    <div class="imgwrp visible-xs"><img src="{{ 'assets/[R1]RTD-Product_2024_Mobile (1).jpg'|theme }}" alt="Susu Siap Minum Mobile"/> </div>
</div>

<div class="container-menutab container-menutab--seven">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">{{ record.title }}</a></li>
            {% for category in categories %}
                {% if category.parent_id == null %}
                    <li>
                        <a href="{{ 'our-products-archive'|page({'slug': category.slug }) }}"
                        {% if category.slug == 'susu-siap-minum' %}
                            class="active"
                        {% endif %}
                        >
                            {{ category.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="https://www.susubendera.com/" target="_blank">
                    Susu Bendera
                </a>
            </li>
             <li><a href="https://www.friso.co.id/" target="_blank">Friso</a></li>
        </ul>
    </div>
</div>

<div id='main-section' class="container-fluid">
    <div class="col-md-12">
        <div class="breadcrumb">
            <div class="container-two">
                <ul>
                   <li><a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                    <li><a href="{{ 'our-products'|page }}">{{'produk'|_}}</a> </li>
                    <li>
                        <a href="/produk/susu-siap-minum">Susu Siap Minum</a>
                    </li>
                    <li>
                        <a href="/produk/susu-siap-minum/purefarm">Purefarm</a>
                    </li>
                    <li>
                        <a href="javascript:;">Purefarm Flavour Milk</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <!-- {{ cmscontent }} -->
                <h1>{{ cmstitle }}</h1>
                {{ cmscontent |raw  }}
                <!-- <p>Susu Siap Minum Frisian Flag tersedia dalam merk Frisian Flag Purefarm Flavour. Susu Siap Minum Frisian Flag mengandung rangkaian zat gizi makro (zat gizi penting: protein, karbohidrat dan lemak) serta gizi mikro (multivitamin dan multimineral) dengan rasa yang enak dan lezat dan juga membantu kamu membentuk pola gaya hidup sehat. Susu Siap Minum Frisian Flag Purefarm Flavour tersedia dalam berbagai varian rasa seperti rasa Coconut Delight, Strawberry, Swiss Chocolate, Kacang Hijau  dan Sweet Delight yang siap menjadi moodbooster kamu.</p> -->
            </div>
        </div>
    </div>

  <div class="section section_card clearfix">
       
            {% for category in details %}
                <div class="col-sm-4 itemhomefade">
                        <div class="card card_featured card_product">
                            <div class="card__thumbnail">
                                <div class="card__image card__thumbnail--blue" data-adaptive-background data-ab-css-background>
                                     {% if category.featured_image %}
                                        <img src="{{ category.featured_image|media }}" alt="{{ category.title }}"/>
                                    {% else %}
                                         <img src="http://placehold.it/600x600/797979/666666?text=No+Image" alt="Placeholder"/>
                                    {% endif %}
                                </div>

                                <div class="card__meta">
                                    <header class="card__head">
                                        <h3><a href="{{ 'our-products-single'|page({"category-slug": "purefarm", "slug": category.slug}) }}">
                                            {{ category.title }}
                                        </a></h3>
                                    </header>
                                    <a href="{{ 'our-products-single'|page({"category-slug": "purefarm", "slug": category.slug}) }}" class="button button-dark hidden-xs">{{'selengkapnya'|_}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
      </div>

    
     <div class="container-fluid">
     {% if milkpediaList.susu  %}
	{% set milkpedias = milkpediaList.susu.take(3) %}

		<h3 class=" text-center small-news__title">{{ 'manfaat-minum-susu'|_ }}</h3>

		{% for milkpediaPost in milkpedias %}
		<div class="col-sm-4">
        <div class="card">
            <div class="card__thumbnail card__thumbnail--half" style="background-image: url('{{ milkpediaPost.featured_image | mediathumb_resize('width', 640, 90)  }}');">
            </div>
            <div class="card__meta card__meta--relative">
            	<div class="date">
                    <label>Milkpedia</label> | {{ milkpediaPost.created_at.format('d M Y') }}
                </div>
                <header class="card__head">
                    <h3>{{milkpediaPost.title}}</h3>
                </header>
                <p>{{milkpediaPost.excerpt}}</p><br>
                <a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}" class="button">{{ 'lebih-lanjut'|_ }}</a>
            </div>
        </div>
    </div>
		
		{% endfor %}

	{% endif %}
     </div>

</div> <!-- end mainsection -->

{% put footer %}
    {{ record.additional_tags|raw }}
{% endput %}