description = "Destinasi Wisata Kuliner"

[staticPage]
useContent = 1
default = 0
==
<?php
function onEnd(){
    $this->page->amp_url = $this->pageUrl('artikel-cokoperimen/destinasi-wisata-kuliner-amp');
}
?>
==
{% partial 'site/header-d-opt' %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(page, 'title')|raw }}</h1>
<!--
<div class="static-baner-pa{% component 'staticPage' %}ges">
    <div class="imgwrp">
    	<img src="{{ 'rayuan-pemikat-si-susu-cokelat/banner-rayuan-desktop.png'|media }}" class="hidden-xs" />
    	<img src="{{ 'rayuan-pemikat-si-susu-cokelat/banner-rayuan-mobile.png'|media }}" class="visible-xs" />
    </div>
</div>
-->
{# partial 'site/rayuan-si-susu-cokelat' #}

<div id='main-section' class="container" style="padding: 30px 15px;">
    <div class="col-md-12">
        <div class="default-content">
        {% page %}
           

        </div>
    </div>
</div>

<style>
    .default-content h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    @media screen and (min-width: 767px) {
        .default-content h3 {
            font-size: 30px;
        }
    }

  @media screen and (max-width: 767px) {
    .m-bottom-15 {
      margin-bottom: 15px;
    }
  }
</style>

{% partial 'site/footer' %}

<!-- {richeditor name="markup_en" label="Content (en)" tab="Content (en)"}{/richeditor} -->