.main-detail{
     position: relative;   
}

.content-ramadan{
    z-index: 100;
    position: relative;
}
.main-detail .content {
        padding:50px 60px;
    }
    /*
.main-detail::after{
        content: "";
        background-image: url('/storage/app/media/ramadan-istimewa/pattern-ramadan.png');
        position: absolute;
        background-size: contain;
        pointer-events: unset;
        background-position: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    */
.main-detail h2{
        margin-top:50px;
        color:#fff;
        margin-bottom: 6%;
        
    }
    .main-detail .button{
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
      padding: 0 45px;
      transition:0.3s;
    }
    .main-detail .button:hover{
      opacity: 0.9;
    }
    
    .wrp-sharesocemd img{
      width:30%;
      margin-bottom: 15px;
    }
.wrp-sharesocemd label {
    font-family: Brevia-Regular,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0;
    display: block;
}
.at-icon-wrapper.at-share-btn{
  background-image: linear-gradient(to bottom,#FD9C00, #DF8200) !important;
}
.default-content h4 {
    font-size: 28px;
    margin-top: 30px;
    font-family: Brevia-Black,Helvetica,Arial,sans-serif;
    color: #0F4D9A;
}
.default-content ol{
            line-height:1.8;
    }

    .resep-sahur-terbaik{
      background-image: url('/storage/app/media/festive-ramadan/DesktopResepSahurTerbaikmu.png');
      background-size: cover !important;
    }
    .resep-manis-7-langkah{
      background-image: url('/storage/app/media/festive-ramadan/DesktopResepManis7Langkah.png');
      background-size: cover !important;
    }
    .resep-kue-kering-pilihan{
      background-image: url('/storage/app/media/festive-ramadan/DesktopResepKueKering.png');
      background-size: cover !important;
    }
    .promo-ramadan{
      background-image: url('/storage/app/media/festive-ramadan/DesktopPromo.png');
      background-size: cover !important;
    }
    .content.resep-manis{
      background-image: url('/storage/app/media/festive-ramadan/resep-manis-detail-bg.jpg');
      background-size: cover !important;
    }
    .content.resep-kue{
      background-image: url('/storage/app/media/festive-ramadan/resep-kue-detail-bg.jpg');
      background-size: cover !important;
    }
    .resep-manis-archive{
      background-image: url('/storage/app/media/festive-ramadan/resep-manis-archive-bg.jpg');
      background-size: cover !important;
    }
    .resep-kue-archive{
      background-image: url('/storage/app/media/festive-ramadan/resep-kue-archive-bg.jpg');
      background-size: cover !important;
    }
    .promo-archive{
      background-color: #119FF7;
    }

    .resep-manis .light-blue{
      background-color: #21C3FF !important;
    }
    .resep-kue .light-blue{
      background-color: #119FF7 !important;
    }
    .content-archive{
      padding-top:4%;
      padding-bottom:4%;
    }
.items{
  		padding: 0px 120px;
  		position: relative;
  		z-index: 10;
  	}
  	
.main-detail img{
  	     border-radius: 10px;
 
  	}

    .main-detail .section {
        padding: 3% 0;
    }

    .promo-ramadan img{
      border-radius: 0;
    }
.footer__widget__title{
     color:#fff;   
}
.recipe-title {
    margin-bottom: -15px;
    margin-top: 35px;
    text-align:center;
}
.main-detail section{
  padding-bottom: 30px;
  position: relative;
}
.main-detail .section h2{
      margin:25px 0 35px;
    }
.selengkapnya{
  padding:5px 50px !important;
  height:auto !important;
}
.lentern-big img, .lentern-small img{
  width:100%;
}
.lentern-big{
  width:5vw;
  position:absolute;
  right:5%;
  z-index:15;
}
.lentern-small{
  width:5vw;
  position:absolute;
  left:5%;
  z-index:15;
}
.item-thumb img{
  margin-bottom:20px;
      max-height: 368px;
}
.item-thumb{
      margin-bottom:  25px;
}
    .gradient-orange{
      background-image: linear-gradient(to bottom,#FF9F02, #DB7E00) !important;
    }

    .gradient-blue{
      background-image: linear-gradient(to bottom,#0F4D9A, #043A7E) !important;
    }
    .gradient-pink{
      background-image: linear-gradient(to bottom,#FF5780, #F22D5D) !important;
    }
    .green,  .cream{
       background:none!important;
       padding:0px 40px!important;
      }
      
.light-green{
         background-color:#e8ffe6;
        }
.green{
         background-color:#48a621!important;
        }    
.light-orange{
         background-color:#fff7de;
        } 
.light-cream{
        background-color:#ffe6c2;
        }    
.cream{
         background-color:#ef915e!important;
        }      
.light-blue{
         background-color:#119FF7;
        } 
.yellow{
          background-color: #ffffc6;
        }    
.items div{
            padding:20px;
        } 
.navy-blue {
  		background-color: #0085D8 !important;
  	}  
.mb-20{
     margin-bottom:20px;
    }  	
    
.btn.clspe{
    width: 100%;   
    background-color: #48a610;
    height: 72px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 0;
    
}
.btn.clspe:active:focus,
.btn.clspe:active,
.btn.clspe:focus,
.btn.clspe:hover{   
    background-color: #48a610;
    border-color: #48a610;
}
#collapseRamadan{ 
     margin: 0 auto;
     width:1000px;

}
.collapse__section{
    padding:25px;
    border: 2px solid #0F4D9A;
    border-radius:10px;
}

    
#collapseRamadan span.title,
#collapseRamadan input::placeholder{
    font-family: "Brevia-Bold", Helvetica, Arial, sans-serif;
}

#collapseRamadan span.title{
    font-size: 22px;
    color: #0F4D9A;
}

#collapseRamadan input::placeholder{
            font-size: 16px;
    color: #cccccc;
}

.clspe .fa-chevron-up{
    margin-left: 20px;
    transform: rotate(0deg);
    transition: transform .3s;
    transform-origin: center center;
}

.clspe.collapsed .fa-chevron-up{
    transform: rotate(180deg);
    transition: transform .3s;
    transform-origin: center center;    
}
.content-archive h2{
  margin-top: 15px;
  color: #fff;
  margin-bottom: 4%;  
}

/* The container */
.container-chekbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-chekbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-chekbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-chekbox input:checked ~ .checkmark {
  background-color: #0f4d9a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-chekbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-chekbox .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.checkbox{
    width: 180px;
    margin: 0 auto;
}

.form-submit{
     margin-top: 40px;   
}

.section-promo{
     background: rgba(0,0,0,.1);   
     text-align: center;
    font-family: "Brevia-Bold", Helvetica, Arial, sans-serif;
    border-radius: 20px;
    color: #0f4d9a;
    font-size: 22px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
        justify-content: center;
}
.main-code__code{
    font-size: 32px;
    font-weight:bold;
    color:#0f4d9a;
    border-style: solid;
    border-width: medium;
    display: inline-block;
    border-radius: 15px;
    padding: 0 20px;
    margin:20px 0;
    }
@media only screen and (max-width: 768px) {
    .btn.clspe{
        font-size: 18px;
        margin-top: -20px;
    }
}

.costum-checkbox{
  padding: 20px 0;
  width: unset;
  
}
#ramadanSubmit:disabled{
    background: rgb(235, 235, 228) !important;
    color: rgb(84, 84, 84) !important;
}

.btn.resep-sahur,
.btn.resep-sahur:active:focus, 
.btn.resep-sahur:active, 
.btn.resep-sahur:focus, 
.btn.resep-sahur:hover{
    background-color: #006086;
}


.btn.resep-kue-kering-pilihan,
.btn.resep-kue-kering-pilihan:active:focus, 
.btn.resep-kue-kering-pilihan:active, 
.btn.resep-kue-kering-pilihan:focus, 
.btn.resep-kue-kering-pilihan:hover{
    background-color: #a28863;
}

.jadwal-sahur{
    font-size: 22px;
    color: #0F4D9A;
    max-width: 1000px;
    margin: 0 auto;
}
.jadwal-sahur h1{
    font-family: "Brevia-Bold", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #0F4D9A;  
    margin: 0 auto 40px;
}

.message{
        line-height:1.6;
    }


.collapse{
    display: none;
}

.table-condensed{
     width: 100% !important;   
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.content-ramadan {
    z-index: 100;
    position: relative;
}

.show {
    display: block!important;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.fade {
    transition: opacity .15s linear;
}
.show {
    display: block !important;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.flex-center{
     display: flex;
     justify-content: center;
     align-items: center;
}

.fancybox-inner{
     height: 100vh;   
}

.slider-btn-ramadan{
    opacity: .8;
    margin-top: 280px !important;
    display: inline-block !important;
}

.datepicker-days{
  display: unset !important;
}

.iframe_youtube iframe{
  width:100%;
  height:45vw;
  border-radius: 15px;
}

.main-detail .accordion .card-header h2{
margin:0 ;
}
.main-detail .accordion .card-header button{
font-family: Brevia-Black,Helvetica,Arial,sans-serif;
color : #0F4D9A;
font-size:24px;
display:block;
width:100%;
text-align:left;
text-decoration:none !important;
padding:10px 35px;
}
.main-detail .accordion .card-header button.collapsed:after{
content:'\f107';


}
.main-detail .accordion .card-header button:after{
content:'\f106';
font-family:FontAwesome;
float:right;
font-size:32px;
line-height:32px;
font-weight:bold;
}
.main-detail .accordion .card-header{
background:#fff;
border-radius:5px;
}

.main-detail .card-body{
padding:35px 20px;
color:#fff;
font-size:17px;
}
.main-detail .card-body li{
margin-bottom:10px;
}
.slider-container{
position:relative;
}
.slick-next {
  background-image: url('/storage/app/media/festive-ramadan/arrow-right.png') !important;

}
.slick-arrow{
   width: 24px !important;
    height: 40px !important;
    background-size: 100% !important;
    z-index: 20;
}
.slick-prev {
  background-image: url('/storage/app/media/festive-ramadan/arrow-left.png') !important;
   
}
.slick-next:before, .slick-prev:before{
  font-size: 0 !important; 
}

.img-overlay{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
z-index:5;
opacity:.9;
}
.slider-container .recipe{
position:relative;
}