.form {
	
	&-primary {
		.form-group {
			margin-bottom: 20px;

			span {
				font-size: 14px;
				color: #999;
			}

			input, select {
				height: 45px;
			}

			label {
				font-size: 12px;
				font-weight: normal;
				color: red;
				vertical-align: top;
				padding-top: 5px;
			}
		}

		.form-submit {
			margin: 20px 0;
		}

		.checkbox {
			margin: 0 !important;

			span {
				font-size: 14px;
				min-height: 20px;
		    padding-left: 20px;
		    margin-bottom: 0;
		    font-weight: normal;
		    cursor: pointer;
		    vertical-align: top;
		    color: #999;
			}

			a {
				position: relative;
				top: -11px;
			}

			label.error {
				display: none !important;
			}
		}

		.link {
			text-align: right;
			font-size: 14px;
			color: #999;
			display: block;
		}
	}

	&-light {
		.form-group {
			margin-bottom: 30px;

			span {
				font-size: 14px;
				color: #999;
			}

			input, select {
				height: 45px;
			}
		}

		.form-control {
			background: none;
			box-shadow: none;
			border-radius: 0;
			border: 1px solid rgba(#103989, 0.3);

			&:focus {
				border-color: #17b8fd;
				box-shadow: 0 0 3px #17b8fd;
			}
		}

		label {
			font-family: "Brevia-Bold",Helvetica,Arial,sans-serif;
			font-weight: bold;
			color: #103989 !important;
			vertical-align: top;
			text-transform: uppercase;
		}

		.form-submit {
			margin: 20px 0;
		}

		.checkbox {
			margin: 0 !important;

			span {
				font-size: 14px;
				min-height: 20px;
			    padding-left: 20px;
			    margin-bottom: 0;
			    font-weight: normal;
			    cursor: pointer;
			    vertical-align: top;
			    color: #999;
			}

			a {
				position: relative;
				top: -11px;
			}
		}

		.link {
			text-align: right;
			font-size: 14px;
			color: #999;
			display: block;
		}
	}

}

.full-width {
	width: 100% !important;
	text-align: center;
}