title = "Gallery Archive"
url = "/perusahaan-kami/galeri-foto/year/:slug/:page?|^[0-9]+$"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[en] = "/gallery-archive"

[builderList]
modelClass = "Definite\Gallery\Models\Post"
scope = "scopeArchive"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 12
pageNumber = "{{ :page }}"
sortColumn = "published_date"
sortDirection = "desc"
==
<?php
function onEnd() {

    // get the post component
    $this->page->title = "Arsip Galeri Foto - ".$this->param('slug');
    $this->page->title_en = "Gallery Archive";
    $this->page->meta_description = "Lihat foto-foto terbaik dari arsip galeri Frisian Flag di tahun ".$this->param('slug').". Mulai dari Gerakan Nusantara, Consumer, Dairy Development, dan Drink Move Be Strong!";
    $this['test'] = $this->param('slug');

}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<h1 aria-hidden="true" class="seo-heading">Arsip Galeri Foto</h1>

<div class="static-baner-pages">
    <div class="imgwrp"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Our Milkpedia"/> </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">{{'gallery'|_}}</a></li>
            <li><a href="{{'about-us'|page}}" class="{% if this.page.id == 'about-us' %}active{% endif %}">{{'tentang-kami'|_}}</a></li>
            <li><a href="{{'news'|page}}" class="{% if this.page.id == 'news' %}active{% endif %}">{{'berita'|_}}</a></li>
            <li><a href="{{'gallery'|page}}" class="{% if this.page.id == 'gallery' %}active{% endif %}">{{'gallery'|_}}</a></li>
            <li><a href="{{'press-release'|page}}" class="{% if this.page.id == 'press-release' %}active{% endif %}">{{'siaran-pers'|_}}</a></li>
            <li><a href="{{'our-purposes'|page}}" class="{% if this.page.id == 'our-purposes' %}active{% endif %}">{{'tujuan-kami'|_}}</a></li>
        </ul>
    </div>
</div>

<div id='main-section' class="container-fluid">

    <div class="container-two">
      <div class="col-md-12">
          <div class="breadcrumb">
            <ul>
                <ul>
                    <li><a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                    <li><a href="{{ 'about-us'|page }}">{{'perusahaan-kami'|_}}</a> </li>
                    <li><a href="{{ url('gallery'|page ({'page':''}) ) }}">{{'galeri-foto'|_}}</a></li>
                </ul>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <h3>{{'galeri-foto'|_}}</h3>
                <div class="container-menutab container-menutab-news hidden-lg">
                    <div class="container-one">
                        <ul>
                            <li class="toggle"><a href="javascript:;" class="active">{{ this.param.slug }}</a></li>
                            <li><a href="{{url('gallery'|page) }}">All</a></li>
                            {% for years in records.first.year  %}
                            <li><a href="{{url('gallery-archive'|page ({"slug":years.published_date})) }}" {% if this.param.slug == years.published_date %}class="active"{% endif %}>{{ years.published_date }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="container-news">
                    <div class="content">
                        <div class="left">
                            <div class="content">
                                <div class="row">
                                
                                    <!-- lopping disini untuk dijadikan cms -->
                                    {% for record in records  %}
                                    <div class="col-xs-12 col-sm-6 col-md-4">                                       
                                        <a href="{{ 'gallery-single'|page ({'slug' : record.slug})}}">
                                            <div class="gallery__picture" style="background-image: url('{{ record.poster.thumb(200, 200) ?? 'assets/img/our-milkpedia.png' | theme }}');">
                                                <p>{{ record.title }}</p>
                                            </div> <!--  .gallery__picture -->
                                        </a>                    
                                    </div> <!--  .col-xs-12 .col-sm-6 .col-md-4 -->
                                    {% else %}
                                        <li class="no-data">{{ noRecordsMessage }}</li>
                                    {% endfor %}

                                </div>
                                 <div class="stylepaging">
                                {% if records.lastPage > 1 %}
                                    <ul>
                                    {% if records.currentPage %}
                                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}" class="{{ records.currentPage == 1 ? 'disable' : null }}"><i class="fa fa-angle-double-left"></i></a> </li>
                                    {% endif %}
                                    {% for page in 1..records.lastPage %}
                                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}" class="{{ records.currentPage == page ? 'active' : null }}">{{ page }}</a> </li>
                                    {% endfor %}
                                    {% if records.lastPage > records.currentPage %}
                                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}"><i class="fa fa-angle-double-right"></i></a> </li>
                                     {% endif %}
                                    </ul>
                                {% endif %}

                                    <div class="paging-info">Page {{records.currentPage}} of {{records.lastPage}}</div>
                                </div>
                            </div>
                        </div>
                       <div class="right visible-lg">
                            <div class="content">
                                <ul class="yearright">
                                {% for years in records.first.year  %}
                                    <li class="{% if this.page.id == 'years.published_date' %}active{% endif %}"><a href="{{('gallery-archive'|page ({"slug":years.published_date})) }}">{{ years.published_date }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end mainsection -->