title = "kreasi takjil gallery detail"
url = "/aktivitas-kami/kreasi-takjil/galeri/:slug?"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[en] = "/kreasi-takjil-gallery-detail"
==
<?php
function onStart(){
    $this->page->amp_url = $this->pageUrl('kreasi-takjil-galeri-detail-amp');
    //get slug
    $slug        = $this->param('slug');
    
    //get json data
    //$path              = "https://www.frisianflag.com/themes/rainlab-bonjour/assets/ramadan-istimewa/recipes.json";
    $path              = url('/themes/rainlab-bonjour/assets/kreasi-takjil/gallery.json');
    $cmsController     = new Cms\Classes\Controller;
    $arrContextOptions = array(
        "ssl"=>array(
            "verify_peer"=>false,
            "verify_peer_name"=>false,
        ),
    );
        
    if(json_decode(file_get_contents($path, false, stream_context_create($arrContextOptions)))){
            $collection    = collect(json_decode(file_get_contents($path, false, stream_context_create($arrContextOptions))));
            $data          = $collection->where('slug', $slug );
    }
    else{
        
        return $cmsController->render("/404");
    }

    if(count($data) == 0){
        return $cmsController->render("/404");
    }
    
    $this['images']   = $data;
    
    switch ($slug) {
        case "yayasan-darul-rahmah-ragunan":
            $title           = "Yayasan Darul Rahmah Ragunan";
            $date           = "14 Mei 2019";
            break;
        case "yatim-piatu-amanah-pondok-labu":
            $title           = "Yatim Piatu Amanah Pondok Labu";
            $date           = "20 Mei 2019";
            break;   
        case "yayasan-bangun-kecerdasan-bangsa-pasar-rebo":
            $title           = "Yayasan Bangun Kecerdasan Bangsa Pasar Rebo";
            $date           = "28 Mei 2019";
            break;                                
    }

    $this->page->title = "Galeri Kreasi Takjil ".$title;
    $this->page->meta_description = "Lihat foto-foto terbaik dari galeri ".$title ." dengan donasi kreasi takjil dari Frisian Flag Indonesia.";
    
    if (session::get('data')) {
        $this['messages'] = session::get('data');
    }
    //set value attributes
    $this['title']          = $title;
    $this['date']           = $date;
}
?>
==
{% set record = builderDetails.record %}
{% set records = builderList.records %}

<h1 aria-hidden="true" class="seo-heading">Galeri Foto</h1>

<div class="static-baner-pages">
    <div class="imgwrp hidden-xs"><img src="{{ 'kreasi-takjil/banner/kreasi-takjil.png'|media }}" alt="Banner Kreasi Takjil Desktop"/> </div>
    <div class="imgwrp visible-xs"><img src="{{ 'kreasi-takjil/banner/kreasi-takjil-mobile.png'|media }}" alt="Banner Kreasi Takjil Mobile"/> </div>
</div>

{% partial 'site/ramadan-istimewa-kontes-menu' %}


<div id='main-section' class="container-fluid">
    <div class="container-two">
      <div class="col-md-12">
          <div class="breadcrumb">
            <ul>
                <li><a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                <li><a href="{{ 'ramadan-istimewa-kontes'|page }}">{{'kreasi-takjil'|_}}</a> </li>
                <li><a href="{{ 'ramadan-istimewa-kontes-galeri'|page }}">{{'galeri'|_}}</a> </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <div class="row">
                    <div class="col-md-7">
                      <h3>{{'galeri foto'|_}}</h3>
                    </div>
                    <div class="col-md-5 hidden">
                      <input type="search" placeholder="Search" class="form-control" id="news-search" style="margin-bottom: 20px;">
                    </div>
                </div>
                <div class="container-menutab container-menutab-news hidden-lg">
                    <div class="container-one">
                        <ul>
                            <li class="toggle"><a href="javascript:;" class="active">All</a></li>
                            <li><a href="{{url('news'|page) }}" class="active">All</a></li>
                            {% for years in records.first.year  %}
                            <li><a href="{{url('news-archive'|page ({"slug":years.published_date})) }}">{{ years.published_date }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="container-news">
                    <div class="content">
                        <div class="left">
                            <div class="content">
                            	<div class="row">
                                    <div class="col-sm-12">
                                        <label class="date">{{ date }}</label>
                            			<h4>{{title}}</h4>
                            			{{record.description|_}}	
                                        <br />					
                                    </div> <!--  .col-sm-12 -->
                            		
                            		<!-- lopping disini untuk dijadikan cms -->
                            		{% for image in images %}
                            		<div class="col-xs-12 col-sm-6 col-md-4" style="margin: 10px 0"}>    
	                            		<a href="{{ image.url | media }}" style="display:block" data-fancybox="images" data-caption="My caption">
                                            <div class="gallery__picture" style="background-image: url('{{ image.url | media }}');"></div> <!--  .gallery__picture -->
                                        </a>
                            		</div> <!--  .col-xs-12 .col-sm-6 .col-md-4 -->
                            		{% endfor %}
                            	</div> <!--  .row -->

                            </div>
                        </div>
                        <div class="right visible-lg">
                            <div class="content">
                            		<h5 style="margin-left: 25px;">{{'galeri foto lainnya'|_}}</h5>
	                            	<ul class="yearright yearright-custom">
                                    <li class=""><a href="/aktivitas-kami/kreasi-takjil/galeri/yayasan-darul-rahmah-ragunan">Yayasan Darul Ragunan</a></li>
                                    <li class=""><a href="/aktivitas-kami/kreasi-takjil/galeri/yatim-piatu-amanah-pondok-labu">Yatim Piatu Amanah Pondok Labu</a></li>
                                    <li class=""><a href="/aktivitas-kami/kreasi-takjil/galeri/yayasan-bangun-kecerdasan-bangsa-pasar-rebo">Yayasan Bangun Kecerdasan Bangsa Pasar Rebo</a></li>                                    
                                </ul>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>