title = "Tujuan Kami"
url = "/tujuan-kami"
layout = "default"
meta_description = "Frisian Flag Indonesia bertujuan untuk menyediakan produk berbasis susu yang berkualitas terbaik dan pendidikan mengenai gaya hidup sehat bagi masyarakat Indonesia."
is_hidden = 0

[builderList Seanuts]
modelClass = "Definite\Ourpurposes\Models\Seanuts"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Dmbs]
modelClass = "Definite\Ourpurposes\Models\Dbms"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Program]
modelClass = "Definite\Ourpurposes\Models\Program"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Farmer]
modelClass = "Definite\Ourpurposes\Models\Farmer"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Young]
modelClass = "Definite\Ourpurposes\Models\Young"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Fdov]
modelClass = "Definite\Ourpurposes\Models\Fdov"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Ddp]
modelClass = "Definite\Ourpurposes\Models\Ddp"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Waste]
modelClass = "Definite\Ourpurposes\Models\Waste"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Energy]
modelClass = "Definite\Ourpurposes\Models\Energy"
scope = "scopeIndex"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
function onStart(){    
        return Redirect::to("/sustainability" , 301);
        $this->page->amp_url = $this->pageUrl('tujuan-kami-amp');
}
?>
==
{% set seanuts = Seanuts.records %}
{% set dmbs = Dmbs.records %}
{% set program = Program.records %}
{% set farmer = Farmer.records %}
{% set young =  Young.records %}
{% set fdov = Fdov.records %}
{% set ddp = Ddp.records %}
{% set waste = Waste.records %}
{% set energy = Energy.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<h1 aria-hidden="true" class="seo-heading">Tujuan Kami</h1>

<div class="static-baner-pages">
    <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/95-TAHUN-FF_desktop-banner.jpg'|theme }}" alt="Banner 95 Tahun Frisian Flag Desktop"/> </div>
    <div class="imgwrp visible-xs"><img src="{{ 'assets/img/95-TAHUN-FF_mobile-banner.jpg'|theme }}" alt="Banner 95 Tahun Frisian Flag Mobile"/> </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">{{'tujuan-kami'|_}}</a></li>
            <li><a href="{{'about-us'|page}}" class="{% if this.page.id == 'about-us' %}active{% endif %}">{{'tentang-kami'|_}}</a></li>
            <li><a href="{{'news'|page}}" class="{% if this.page.id == 'news' %}active{% endif %}">{{'berita'|_}}</a></li>
            <li><a href="{{'gallery'|page}}" class="{% if this.page.id == 'galeri-foto' %}active{% endif %}">{{'galeri-foto'|_}}</a></li>
            <li><a href="{{'press-release'|page}}" class="{% if this.page.id == 'press-release' %}active{% endif %}">{{'siaran-pers'|_}}</a></li>
            <li><a href="{{'our-purposes'|page}}" class="{% if this.page.id == 'our-purposes' %}active{% endif %}">{{'tujuan-kami'|_}}</a></li>
        </ul>
    </div>
</div>

<div id='main-section' class="container-fluid" style="margin-bottom: 30px;">

    <div class="col-md-12">
        <div class="breadcrumb">
            <div class="container-two">
                <ul>
                    <li><a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                    <li><a href="javascript:;">{{'tujuan-kami'|_}}</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
      <div class="container-two">
          <ul class="link-tab">
              <li><a href="javascript:;" class="active" id="tab-one">Nutrition For Indonesia</a> </li>
              <li><a href="javascript:;" class="" id="tab-two">Local Farmer Programs</a> </li>
              <li><a href="javascript:;" class="sustainability-tab-head" id="tab-three">Sustainability</a></li>
          </ul>
      </div>
    </div>

    <div class="col-md-12 tab-one">
        <div class="default-content">
            <div class="container-two">
                <h3>Nutrition For Indonesia</h3>
                <div class="container-purposes">
                    <div class="content">
                        <div class="wrp-tableft">
                            <div class="left">
                                <ul class="tabs">
                                    <li class="tab-link current" data-tab="tab-1">Seanuts</li>
                                    <li class="tab-link " data-tab="tab-2">DMBS</li>
                                    <li class="tab-link" data-tab="tab-3">{{'program-komunitas'|_}}</li>
                                </ul>
                            </div>

                            <div class="right">

                                <div id="tab-1" class="tab-content current">
                                    <h3>{{trans_pick(seanuts.first, 'title')}}</h3>

                                    {{trans_pick(seanuts.first, 'description')|raw}}

                                    <div class="wrp-listimg">
                                      {%  for seanuts_image in seanuts.first.image %}
                                        <div class="itemhomefade">
                                          <div class="imgwrp" style="background-image: url('{{ seanuts_image.images|media }}')"></div>
                                        </div>
                                      {% endfor %}
                                        <!-- <div class="loadseemore button">Load more</div> -->
                                    </div>
                                </div>
                                <!-- end seanuts -->

                                <div id="tab-2" class="tab-content ">
                                  <h3>{{trans_pick(dmbs.first, 'title')}}</h3>

                                  {{trans_pick(dmbs.first, 'description')|raw}}

                                  <div class="wrp-listimg">
                                    {%  for dmbs_image in dmbs.first.image %}
                                      <div class="itemhomefade">
                                        <div class="imgwrp" style="background-image: url('{{ dmbs_image.images|media }}')"></div>
                                      </div>
                                    {% endfor %}
                                  </div>
                                </div>
                                <!-- end Drink Move Be Strong -->

                                <div id="tab-3" class="tab-content">
                                  <h3>{{trans_pick(program.first, 'title')}}</h3>

                                  {{trans_pick(program.first, 'description')|raw}}

                                  <div class="wrp-listimg">
                                    {%  for program_image in program.first.image %}
                                      <div class="itemhomefade">
                                        <div class="imgwrp" style="background-image: url('{{ program_image.images|media }}')"></div>
                                      </div>
                                    {% endfor %}
                                </div>
                              </div>
                                <!-- end Program -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 tab-two" style="display: none;">
        <div class="default-content">
            <div class="container-two">
                <h3>Local Farmer Programs</h3>
                <div class="container-purposes">
                    <div class="content">
                    <p>Sampai tahun 2020 ini, sudah banyak program yang dilakukan oleh Frisian Flag Indonesia untuk meningkatkan kualitas &amp; produktifitas susu segar dan taraf hidup para peternak sapi perah lokal, khususnya di Jawa Barat, Jawa Tengah dan Jawa Timur. <br>Frisian Flag Indonesia telah bekerjasama dengan 15 pemasok susu segar (koperasi, kelompok peternak dan peternakan besar) di seluruh pulau Jawa dengan jumlah peternak binaan sebanyak 20,000 peternak di Jawa Barat, Jawa Tengah, dan Jawa Timur.</p>
                    <br>
                    <p>Beberapa program yang telah dijalankan antara lain :</p>
                    <ol>
                        <li>Farmer2Farmer</li>
                        <li>MCP (Milk Collection Point)</li>
                        <li>Dairy Village</li>
                        <li>Young Farmer Academy</li>
                        <li>Bewara</li>
                    </ol>

                    <br><br>
                      
                        <div class="wrp-tableft">
                            <div class="left">
                                <ul class="tabs">
                                    <li class="tab-link current" data-tab="tab-4">{{trans_pick(farmer.first, 'title')}}</li>
                                    <li class="tab-link" data-tab="tab-15">MCP (Milk Collection Point)</li>
                                    <li class="tab-link" data-tab="tab-16">Dairy Village</li>
                                    
                                    <li class="tab-link" data-tab="tab-5">{{trans_pick(young.first, 'title')}}</li>
                                    <li class="tab-link" data-tab="tab-17">Bewara</li>
                                    <!--<li class="tab-link" data-tab="tab-6">{{trans_pick(fdov.first, 'title')}}</li>
                                    <li class="tab-link" data-tab="tab-7">{{trans_pick(ddp.first, 'title')}}</li>-->
                                </ul>
                            </div>

                            <div class="right">

                                <div id="tab-4" class="tab-content current">
                                    <strong>{{trans_pick(farmer.first, 'title')}}</strong>
                                    {{trans_pick(farmer.first, 'description')|raw}}
                                    <div class="wrp-listimg">
                                      {%  for farmer_image in farmer.first.image %}
                                        <div class="itemhomefade">
                                          <div class="imgwrp" style="background-image: url('{{ farmer_image.images|media }}')"></div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                                <!-- end Farmer -->

                                <div id="tab-5" class="tab-content ">
                                    <strong>{{trans_pick(young.first, 'title')}}</strong>
                                    {{trans_pick(young.first, 'description')|raw}}
                                    <div class="wrp-listimg">
                                      {% for young_image in young.first.image %}
                                        <div class="itemhomefade">
                                          <div class="imgwrp" style="background-image: url('{{ young_image.images|media }}')"></div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                                <!-- end young -->

                                <div id="tab-6" class="tab-content">
                                     <strong>{{trans_pick(fdov.first, 'title')}}</strong>
                                    {{trans_pick(fdov.first, 'description')|raw}}
                                     <div class="wrp-listimg">
                                         {%  for fdov_image in fdov.first.image %}
                                         <div class="itemhomefade">
                                           <div class="imgwrp" style="background-image: url('{{ fdov.images|media }}')"></div>
                                         </div>
                                         {% endfor %}
                                     </div>
                                </div>
                                <!-- end FDOV -->

                                <div id="tab-7" class="tab-content">
                                  <strong>{{trans_pick(ddp.first, 'title')}}</strong>
                                  {{trans_pick(ddp.first, 'description')|raw}}
                                  <div class="wrp-listimg">
                                    {%  for ddp_image in ddp.first.image %}
                                      <div class="itemhomefade">
                                        <div class="imgwrp" style="background-image: url('{{ ddp.images|media }}')"></div>
                                      </div>
                                    {% endfor %}
                                  </div>
                                </div>
                                <!-- end DDP -->
                                <div id="tab-15" class="tab-content">
                                    <strong>MCP (Milk Collection Point)</strong>
                                    <p>Pusat pengumpulan susu segar pertama di Indonesia yang menggunakan sistem otomatis/komputerisasi yang terletak di Pangalengan, Jawa Barat. Saat ini sudah ada 7 MCP yang beroperasional. Menurut peternak lokal di 7 MCP tersebut pendapatan mereka  meningkat sekitar 10% dengan adanya program ini.</p>
                                    
                                </div>
                                <div id="tab-16" class="tab-content">
                                    <strong>Dairy Village</strong>
                                    <p>Diresmikan tahun 2018, Dairy Village berada di Ciater, Lembang Jawa Barat. Dairy Village ini merupakan percontohan untuk peternakan sapi perah modern, ramah lingkungan, dan terintegrasi. Sehari-harinya dikerjakan oleh 5 peternak terpilih dari daerah Lembang yang telah lulus seleksi dan dikordinisr oleh 1 orang manajer peternakan. Hasil dari Dairy Village sampai dengan saat ini kualitas TPC (jumlah bakteri dalam susu segar) < 100.000 cfu/ml dan productivity di tahun pertama sekitar 17 kg/sapi/hari.</p>
                                    
                                </div>
                                <div id="tab-17" class="tab-content">
                                    <strong>Bewara</strong>
                                    <p>Program komunikasi yang membahas tentang Good Dairy Farming Practice ini dimulai dari tahun 2010. Media yang digunakan berupa Tabloid, siaran Radio, serta Bewara Liveshow sebagai ajang silaturahmi serta pembelajaran secara langsung antara peternak dengan para pakar dari koperasi dan FFI.</p>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 tab-three" style="display: none;">
        <div class="default-content">
            <div class="container-two">
                <h3>Sustainability</h3>
                <div class="container-purposes">
                    <div class="content">
                    <h5>Melestarikan Masa Depan yang Berkelanjutan</h5>

<p>Frisian Flag Indonesia menyadari betapa pentingnya upaya keberlanjutan di segala sektor kehidupan dan bisnis perusahaan. Dalam upaya memenuhi kebutuhan gizi masa depan keluarga Indonesia melalui produk susu, Frisian Flag Indonesia tak lupa untuk juga menjaga masa depan lingkungan dan tanah air Indonesia. Bagaimana bisa tetap berkontribusi terhadap pembangunan generasi penerus bangsa, sambil tetap menjaga keberlangsungan energi dan pelestarian bumi di masa depan, merupakan tantangan yang tidak ringan untuk dijawab. Melalui upaya penghematan dan terobosan di beberapa bidang, Frisian Flag Indonesia berharap bisa berkontribusi bagi kebaikan di masa depan.</p>
<br><br>

                        <div class="wrp-tableft">
                            <div class="left">
                                <ul class="tabs">
                                    <!--<li class="tab-link current active" data-tab="tab-8">{{trans_pick(waste.first, 'title')}}</li>
                                    <li class="tab-link" data-tab="tab-9">{{energy.first.title}}</li>-->
                                    <li class="tab-link current active" data-tab="tab-10">Efisiensi Energi</li>
                                    <li class="tab-link " data-tab="tab-11">Penghematan Air</li>
                                    <li class="tab-link " data-tab="tab-12">Bisnis yang Berkelanjutan</li>
                                    <li class="tab-link " data-tab="tab-13">Manajemen Limbah</li>
                                    <li class="tab-link " data-tab="tab-14">Kemasan Ramah Lingkungan</li>
                                    
                                    
                                </ul>
                            </div>

                            <div class="right">
                                <!--<div id="tab-8" class="tab-content current active">
                                  <strong>{{trans_pick(waste.first, 'title')}}</strong>
                                  {{trans_pick(waste.first, 'description')|raw}}
                                    <div class="wrp-listimg">
                                      {%  for waste_image in waste.first.image %}
                                        <div class="itemhomefade">
                                          <div class="imgwrp" style="background-image: url('{{ waste.images|media }}')"></div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>-->
                                <!-- end waste -->

                                <!--<div id="tab-9" class="tab-content ">
                                  <strong>{{energy.first.title}}</strong>
                                  {{energy.first.description|raw}}
                                    <div class="wrp-listimg">
                                      {%  for energy_image in energy.first.image %}
                                        <div class="itemhomefade">
                                          <div class="imgwrp" style="background-image: url('{{ energy_image.images|media }}')"></div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>-->
                                <!-- end energy -->
                                <div id="tab-10" class="tab-content current active">
                                  <strong>Efisiensi Energi</strong>
                                 <!-- <p>
                                  Energi merupakan salah satu kebutuhan penting bagi kehidupan manusia di dunia. Sebegitu pentingnya, hingga wajib untuk dijaga keberlanjutannya, mengingat persediaannya yang terus menipis. Menyadari hal tersebut, sejak beberapa tahun lalu, FrieslandCampina telah melakukan upaya efisiensi energi di semua fasilitas produksinya di seluruh dunia, termasuk Indonesia. Dan sampai tahun ini, sebanyak 94% konsumsi listrik di semua pabrik tersebut telah menggunakan energi listrik yang ramah lingkungan. <br><br>

Hingga saat ini, Frisian Flag Indonesia telah berhasil melakukan penghematan energi dalam menjalankan roda bisnisnya, sebesar 6,8 juta kWh/tahun. Nilai penghematan ini setara dengan kebutuhan energi bagi 6.014 orang/hari. Artinya, melalui upaya ini, Frisian Flag Indonesia telah berhasil membantu menerangi lebih dari 2.000 keluarga di Indonesia selama 251 hari.

                                  </p>-->
                                  
                                   
                                </div>
                                <div id="tab-11" class="tab-content ">
                                  <strong>Penghematan Air</strong>
                                 <!-- <p>
                                  Meski dikelilingi perairan, tidak semua masyarakat Indonesia bisa mendapatkan air bersih untuk memenuhi kebutuhan sehari-hari. Untuk itu, air juga menjadi salah satu materi sangat krusial yang wajib dijaga keberlanjutannya. <br><br>

Frisian Flag Indonesia telah berhasil melakukan penghematan air dalam menjalankan produksinya hingga 45.029 m3/tahun, atau setara dengan kebutuhan air bagi 1.820 keluarga di Indonesia selama 5.450 hari.

                                  </p>-->
                                  
                                   
                                </div>
                                <div id="tab-12" class="tab-content ">
                                  <strong>Bisnis yang Berkelanjutan</strong>
                                 <!-- <p>
                                  Sebagai induk perusahaan Frisian Flag Indonesia, FrieslandCampina telah melakukan program keberlanjutan di berbagai bidang yang berkaitan dengan bisnis perusahaan, mulai dari efisiensi energi, penghematan air, dan manajemen limbah. Program ini sejalan dengan Sustainable Development Goals (SDG) yang dicanangkan oleh PBB. <br><br>

FrieslandCampina melakukan beberapa terobosan untuk menjadi perusahaan yang ramah lingkungan, di antaranya adalah bekerja sama dengan beberapa pihak, seperti Dutch Sustainable Growth Coalition (DSGC), kelompok multinasional di Belanda yang bekerja untuk membangun bidang sosial ekonomi yang paripurna dan ramah lingkungan. Tak hanya itu, FrieslandCampina juga termasuk dalam BICEPS Network, yang berupaya mengembangkan transportasi laut yang lebih bersih untuk pemasok industri.<br><br>

Sebelum sampai ke tangan konsumen, seluruh produk berbasis susu membutuhkan proses yang panjang. Mulai dari proses pemerahan sapi, perjalanan ke pusat produksi hingga sampai di lokasi distribusinya. Tujuan akhir dari FrieslandCampina adalah memastikan seluruh proses tersebut menjadi sirkular dan bebas karbon monoksida.<br><br>

FrieslandCampina berupaya menciptakan lingkungan yang lebih baik dan berkelanjutan bagi peternakan sapi perah dan kehidupan di lingkungan sekitarnya. Beberapa terobosan dilakukan agar peternak bisa menjalankan usahanya dengan baik dan didukung dengan lingkungan yang lestari. <br><br>

Selain itu, FrieslandCampina juga terus mengembangkan inovasi kemasan yang ramah lingkungan dan tetap menjaga kualitas produk dengan baik. Di tahun 2019, 87% kemasan produk FrieslandCampina dapat didaur ulang, dan direncanakan mencapai 100% di tahun 2025. Rencana jangka panjang untuk kemasan ini adalah  menjadi 100% sirkular (dapat didaur ulang dan digunakan kembali) pada tahun 2050.


                                  </p>-->
                                  
                                   
                                </div>
                                <div id="tab-13" class="tab-content ">
                                  <strong>Manajemen Limbah</strong>
                                 <!-- <p>
                                  Tata kelola limbah menjadi program yang sangat penting dalam upaya menjaga kelestarian lingkungan dan memastikan masa depan tanah dan air bagi generasi yang akan datang, tak terkecuali dalam menjalankan bisnis perusahaan. Untuk itu, sejak 20 tahun lalu, Frisian Flag Indonesia telah melakukan tata kelola limbah yang baik dan benar, dan terus meningkatkan upaya tersebut tiap tahunnya. Pengelolaan limbah juga dilakukan di semua pabrik FrieslandCampina di seluruh dunia hingga mencapai 95%. <br><br>

Salah satu terobosan yang dilakukan Frisian Flag Indonesia adalah dengan tidak membuang limbah di atas permukaan tanah, secara bertahap sejak 2017. Dan pada tahun 2020, Frisian Flag Indonesia telah berhasil 100% tidak memproduksi limbah padat yang dibuang di atas permukaan tanah. Tak hanya itu, Frisian Flag Indonesia juga telah melakukan upaya pendauran ulang kertas dan karton, mencapai 10.597 kg. Bermitra dengan pihak ketiga, Frisian Flag Indonesia memanfaatkan hasil dari program ini untuk membantu 58 anak dalam mendapatkan pendidikan selama setahun.


                                  </p>-->
                                  
                                   
                                </div>
                                <div id="tab-14" class="tab-content ">
                                  <strong>Kemasan Ramah Lingkungan</strong>
                                  <!--<p>
                                  Tak hanya mengatur pengelolaan limbah produksi, FrieslandCampina dan Frisian Flag Indonesia juga melakukan terobosan dengan mulai menciptakan dan menggunakan kemasan produk yang lebih ramah lingkungan. Penggunaan plastik dan kertas dalam kemasan, secara bertahap, dikurangi dan dibatasi. Pada tahun 2019, 87% dari semua kemasan produk FrieslandCampina di seluruh dunia, bisa di daur ulang. Ditargetkan, pada 2025, nilai tersebut bisa mencapai 100%, hingga pada 2050, seluruh kemasan produk FrieslandCampina menggunakan bahan-bahan, yang berasal dari dan berakhir menjadi, materi daur ulang (100% circular). 
<br><br>
Dalam program ini, FrieslandCampina bekerja sama dengan beberapa pihak dengan tujuan sama, yaitu mengurangi dampak limbah kemasan terhadap lingkungan, di antaranya Plastic Pact NL (terdiri dari 70 organisasi dan Kementerian Infrastruktur dan Pengelolaan Air), European Plastics Pact (bersama 30 perusahaan besar di Eropa dan 13 negara berkomitmen untuk mengurangi sampah plastik di masa mendatang), dan The New Plastics Economy Global Commitment (kolaborasi antara pebisnis, kepala pemerintahan, dan pemimpin organisasi untuk menangani polusi dan sampah plastik).
<br><br>
Di Indonesia, Frisian Flag Indonesia mulai melakukan beberapa perubahan pada kemasan produk-produknya, mulai dari mengurangi dimensi karton kemasan SKM sachet 40gr, menghilangkan lapisan plastik pada kemasan SKM pouch 560gr, hingga meluncurkan kemasan terbaru SKM pouch 200gr tanpa saluran tuang. Total penghematan yang telah dilakukan Frisian Flag Indonesia mencapai hampir Rp 6 miliar/tahun, setara dengan biaya daur ulang 17.267 ton sampah plastik di Indonesia (Ecoton, 2019).
<br><br>
Melalui program ini, Frisian Flag Indonesia berharap tidak hanya bisa menyediakan produk nutrisi berbasis susu yang bermanfaat bagi kesehatan manusia, namun juga turut bertanggung jawab terhadap kesehatan lingkungan hidup. 


                                  </p>-->
                                  
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end mainsection -->