title = "Press Release archive"
url = "/amp/perusahaan-kami/siaran-pers-archive/year/:slug|^[0-9]+$/"
layout = "basic-amp"
meta_title = "Siaran Pers | Frisian Flag Indonesia"
meta_description = "Simak siaran pers Frisian Flag sebagai salah satu pemimpin industri susu di Indonesia yang selalu memberikan kontribusi yang positif bagi masyarakat."
is_hidden = 0

[builderList]
modelClass = "Definite\Pressrelease\Models\PressRelease"
scope = "scopeArchiveAmp"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "press-release-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 8
pageNumber = "{{ :page }}"
sortColumn = "published_date"
sortDirection = "desc"
==
<?php
function onEnd() {

    // get the post component
    $this->page->title = "Siaran Pers";
    $this->page->title_en = "Pers Release";
    $this->page->year = $this->controller->getRouter()->getParameters()['slug'];
      $slugYear = $this->param('slug');

    $records = $this->page->components["builderList"]->records;
    
    
    //get from database
        $currentPage =  $this->page->p = Input::get('p', 1);
    $this['currentPage'] = $currentPage;

       $products =  Definite\Pressrelease\Models\Pressrelease::offset(($currentPage - 1) * 8)->orderBy('created_at', 'desc')->limit(8)->whereYear('published_date', '=', $slugYear)
 ->get();
    $this['totalnya'] =  $products;
    
    //endof database

    $num_pgn = 8;
    $space_pgn = 2;

    $this->page->max_p = $records->currentPage() <=  $space_pgn ? $num_pgn : $records->currentPage() + $space_pgn;

    if( $this->page->max_p > $records->lastPage() ){
        $this->page->max_p = $records->lastPage();
    }

    $this->page->min_p = $this->page->max_p - ($num_pgn - 1);
    if( $this->page->min_p < 1 ) $this->page->min_p = 1;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="cover">
    <amp-img
        src="{{ 'assets/img/95-TAHUN-FF_mobile-banner.jpg'|theme }}"
        srcset="{{ 'assets/img/95-TAHUN-FF_mobile-banner.jpg'|theme }} 640w,
            {{ 'assets/img/95-TAHUN-FF_mobile-banner.jpg'|theme }} 320w"
        width="50"
        height="50"
        layout="responsive"
        alt="an image">
    </amp-img>
</div>

<amp-accordion class="title_home">
    <section>
        <h4 class="arrow_down"><a href="#" target="_self">{{'siaran-pers'|_}}</a></h4>
        <p>
            <a href="{{'about-us'|page}}" target="_self">{{'tentang-kami'|_}}</a>
            <a href="{{'news-amp'|page}}" target="_self">{{'berita'|_}}</a>
            <a href="{{'galeri-amp'|page}}" target="_self">{{'galeri-foto'|_}}</a>
            <a href="{{'press-release-amp'|page}}" target="_self">{{'siaran-pers'|_}}</a>
            <a href="{{'our-purposes-amp'|page}}" target="_self">{{'tujuan-kami'|_}}</a>
        </p>
    </section>
</amp-accordion>

<div class="breadcrumb">
    <a href="{{ 'home'|page }}">{{'beranda'|_}}</a> /
    <a href="#">{{'siaran-pers'|_}}</a>
</div>
    
<div class="detail_text">
    <h3>{{'siaran-pers'|_}}</h3>
    <form action-xhr="#" method="post" target="_blank" class="search_plain">
        <input type="text" placeholder="Search">
    </form>
    <br>
    <amp-accordion class="title_home">
        <section>
            <h4 class="arrow_down"><a href="#" target="_self">{{ this.page.year ?? 'All'  }}</a></h4>
            <p>
                <a href="{{url('press-release-amp'|page ({"page":null})) }}" target="_self">All</a>
                {% for years in records.first.year  %}
                <a href="{{url('press-release-archive-amp'|page ({"slug":years.published_date, "page": null})) }}" target="_self">{{ years.published_date }}</a>
                {% endfor %}
            </p>
        </section>
    </amp-accordion>
</div>
<!-- s:section list -->
{% for press in totalnya %}
<div class="list_text">
    <div class="text">
        <div class="info">
            {{press.published_date|date('M d, Y')}}
        </div>
        <a href="{{ 'press-release-single-amp'|page({'slug': press.slug}) }}" target="_self"><h3>{{ trans_pick(press, 'title') }}</h3></a>
        <a href="{{ press.file_upload | media}}" class="download">Download</a>
    </div>
    <div class="clearfix"></div>
</div>
{% else %}
    <li class="no-data">{{ noRecordsMessage }}</p>
{% endfor %}
<!-- e:section list -->
<!-- s:paging -->
<div class="stylepaging">
    {% if records.lastPage > 1 %}
    <ul>
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}?p={{ currentPage-1 }}" class="{{ records.currentPage() == 1 ? 'disable' : null }}">&laquo;</a></li>
        {% endif %}
        {% for page in this.page.min_p..this.page.max_p %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}?p={{ page }}" class="{{ currentPage == page ? 'disable' : null }}">{{ page }}</a></li>
        {% endfor %}
        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}?p={{ currentPage+1 }}">&raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
    <div class="paging-info">{{ 'halaman'|_ }} {{currentPage}} {{ 'dari'|_ }} {{records.lastPage}}</div>
</div>