title = "User Dashboard"
url = "/user-dashboard"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "home"

[builderList kampanye]
modelClass = "Kalfian\Campaign\Models\Campaign"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Belum ada kampanye"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList propinsi]
modelClass = "Definite\Cities\Models\Propinsi"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "city_name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList city]
modelClass = "Definite\Cities\Models\Cities"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "city_name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
function onStart(){
    $url = isset($_COOKIE['ref_page']) ? $_COOKIE['ref_page'] : null;
    //dd($url);
    if (Request::isMethod('post')){
        use Backend\Widgets;
        if(Form::getSessionKey() != Input::post('_session_key') || Session::token() != Input::get('_token')){
            return Redirect::to('/403');
        }
    }
    
    if(isset($_COOKIE['IMTCookie'])) {
        $users = Rainlab\User\Facades\Auth::getUser();
        $users->imt = $_COOKIE['IMTCookie'];
        $users->save();
        unset($_COOKIE['IMTCookie']);
        setcookie('IMTCookie', null, -1, '/'); 
    }
    
    if($url){
        unset($_COOKIE['ref_page']);
        setcookie('ref_page', null, -1, '/'); 
        return redirect($url);
    }
}
?>
==
<h1 aria-hidden="true" class="seo-heading">Tentang Kami | Frisian Flag Indonesia</h1>

<div class="static-baner-pages">
    <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/95-TAHUN-FF_desktop-banner.jpg'|theme }}" alt="Banner 95 Tahun Frisian Flag Desktop"/> </div>
    <div class="imgwrp visible-xs"><img src="{{ 'assets/img/95-TAHUN-FF_mobile-banner.jpg'|theme }}" alt="Banner 95 Tahun Frisian Flag Mobile"/> </div>
</div>


<div id='main-section' class="container-fluid">
    <div class="col-md-12">
        <div class="breadcrumb">
            <div class="container-two">
                <ul>
                    <li><a href="{{ 'home' | page}}">{{'beranda'|trans}}</a> </li>
                    <li><a href="#">{{'profil'|trans}}</a> </li>
                    <li><a href="javascript:;">{{'user-dashboard'|trans}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <h3><span class="color-blue">Selamat Datang,</span>  {{ user.name }} {{ user.surname }}</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="con-profile">
                            <div class="clearfix">
                                <div class="con-foto pull-left"></div>
                                <div class="con-nama pull-left">{{ user.name }} {{ user.surname }}</div>
                                <div class="pull-right"><a href="" id="editProfil">Edit</a></div>
                            </div>
                           {{ form_ajax('onUpdate',{model: user,class: 'form-editprofil'}) }}
                            <div class="con-form">
                                <label>Email</label>
                                <input type="text" disabled="disabled" name="email" value="{{ form_value('email') }}">
                            </div>
                            <div class="con-form">
                                <label>Jenis Kelamin</label>
                                <input type="text" disabled="disabled" name="jk" value="{{ form_value('jk') }}">
                            </div>
                            <div class="con-form">
                                <label>Tanggal Lahir</label>
                                <input type="text" disabled="disabled" id="tgl_lahir" name="tgl_lahir" value="{{ form_value('tgl_lahir') }}">
                            </div>
                            <div class="con-form">
                                <label>Nomor Telepon</label>
                                <input type="text" disabled="disabled" id="telp" name="telp" value="{{ form_value('telp') }}">
                            </div>
                            <div class="con-form">
                                <label>Provinsi</label>
                                <select class="form-control" name="prof" disabled="disabled" required>
                                    <option>Pilih Provinsi</option>
                                    {% set records = propinsi.records %}
                                      {% set displayColumn = propinsi.displayColumn %}
                                      {% set noRecordsMessage = propinsi.noRecordsMessage %}
                                      {% set detailsPage = propinsi.detailsPage %}
                                      {% set detailsKeyColumn = propinsi.detailsKeyColumn %}
                                      {% set detailsUrlParameter = propinsi.detailsUrlParameter %}
                                      {% for record in records %}
                                      <option data-id="{{ record.id }}" value="{{record.province_slug}}" {% if form_value('prof') == record.province_slug %}selected{% endif %}>
                                          {{record.province_name}}
                                      </option>
                                      {% endfor %}
                                  </select>
                            </div>
                            <div class="con-form">
                                <label>Kota</label>
                                <select class="form-control" name="kota" disabled="disabled" required>
                                    <option>Pilih Kota</option>	
                                    {% set records = city.records %}
                                      {% set displayColumn = city.displayColumn %}
                                      {% set noRecordsMessage = city.noRecordsMessage %}
                                      {% set detailsPage = city.detailsPage %}
                                      {% set detailsKeyColumn = city.detailsKeyColumn %}
                                      {% set detailsUrlParameter = city.detailsUrlParameter %}
                                      {% for record in records %}
                                      <option data-id="{{ record.province_id }}" value="{{record.city_slug}}" {% if form_value('kota') == record.city_slug %}selected{% endif %}>
                                          {{record.city_name}}
                                      </option>
                                      {% endfor %}
                                  </select>
                            </div>
                            <div class="con-form">
                                <label>Alamat</label>
                                <input type="text" disabled="disabled" name="alamat" value="{{ form_value('alamat') }}">
                            </div>
                            <div class="con-form">
                                <button type="submit" class="btn-edit-profile">Edit</button>
                            </div>
                           {{ form_close() }}
                        </div>
                        <div class="con-profile">
                           {{ form_ajax('onUpdate',{model: user,class: 'form-editprofil2'}) }}
                            <div class="con-form">
                                <div class="clearfix">
                                    <label class="pull-left">Password</label>
                                    <a href="#" id="edit2" class="pull-right">Edit</a>
                                </div>
                                <div id="form2">
                                    <small>New Password</small>
                                    <input type="password" class="active" name="password" id="accountPassword">
                                    <small>Confirm Password</small>
                                    <input type="password" class="active" name="password_confirmation" id="accountPasswordConfirm">
                                    <button type="submit" class="btn-edit-profile active">Ganti Password</button>
                                </div>
                            </div>
                           {{ form_close() }}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="con-kampanye">
                            <h4 class="color-blue">KAMPANYE</h4>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% set records = kampanye.records %}
                            {% set displayColumn = kampanye.displayColumn %}
                            {% set noRecordsMessage = kampanye.noRecordsMessage %}
                            {% set detailsPage = kampanye.detailsPage %}
                            {% set detailsKeyColumn = kampanye.detailsKeyColumn %}
                            {% set detailsUrlParameter = kampanye.detailsUrlParameter %}
                                {% for record in records|reverse %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading{{record.id}}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{record.id}}" aria-expanded="true" aria-controls="collapse{{record.id}}">
                                                {{record.title}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{record.id}}" class="panel-collapse collapse {% if(record.id == 1) %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{record.id}}">
                                        <div class="panel-body">
                                            <img src="/storage/app/media/{{ record.image }}" style="margin-bottom: 10px;" alt="{{ record.title }}" class="img-responsive">
                                            {{ record.content|raw }}
                                            <hr>
                                            <div class="clearfix" style="margin-top:10px">
                                                <div class="pull-left">Share: </div>
                                                {% set spaceout %}
                                                <div class="addthis_inline_share_toolbox pull-left" data-url="{{ record.button_url }}"></div>
                                                {% endset %}
                                                {{ spaceout|trim|raw }}
                                                <a class="button btn-bergabung pull-right" href="{{ record.button_url }}">{{ record.button }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                    <h4>{{ noRecordsMessage }}</h4>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>