title = "Milkpedia"
url = "/milkpedia"
layout = "default"
is_hidden = 0

[staticPage]
useContent = 1
default = 0

[milkpediaList]

[milkpediaCategories]
==
sa<h1 aria-hidden="true" class="seo-heading">Milkpedia | Frisigan Flag Indonesia</h1>

<div class="static-baner-pages">
    <div class="imgwrp"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Our Milkpedia"/> </div>
</div>

<div class="container-menutab">
    <div class="container-one">
        <ul>
            <li class="toggle visible-xs visible-sm"><a href="javascript:;" class="active">Milkpedia</a></li><li>
                <a href="{{ 'our-milkpedia'|page({ "slug": "nutrisi-dan-kesehatan" }) }}">
                    Nutrisi &amp; Kesehatan
                </a>
            </li>
            <li>
                <a href="{{ 'our-milkpedia'|page({ "slug": "manfaat-minum-susu" }) }}">
                    Manfaat Minum Susu
                </a>
            </li>
           <li>
                <a href="{{ 'our-milkpedia'|page({ "slug": "kapan-dan-bagaimana-cara-minum-susu" }) }}">
                    Kapan &amp; Bagaimana Cara Minum Susu
                </a>
            </li>
            <li><a href="{{ 'our-milkpedia'|page({ "slug": "faq" }) }}">FAQ</a></li>
        </ul>
    </div>
</div>

<div id='main-section' class="container" style="padding: 60px 0;">
    <div class="col-md-12">
        <div class="breadcrumb">
                <ul>
                    <li><a href="{{ 'home' | page }}">{{ 'beranda'|_ }}</a> </li>
                    <li><a href="javascript:;">Milkipedia</a> </li>
                </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="default-content">
            <h3>Salam sehat bersama Frisian Flag</h3>

			<p>Tubuh sehat adalah awal sukses kita! Ada banyak cara untuk menjaga kesehatan tubuh. Salah satunya adalah dengan mengonsumsi makanan bergizi. </p>
			<p>Susu merupakan sumber zat gizi yang lengkap. Manfaat susu dapat dirasakan mulai dari bayi (Air Susu Ibu/ASI), anak-anak, hingga dewasa. Kandungan gizi pada susu mencakup zat gizi makro (karbohidrat, protein dan lemak) serta mikro (vitamin dan mineral) yang bermanfaat untuk mendukung  kesehatan dan aktifitas sehari-hari.</p>
			<p>Untuk merasakan manfaat optimal dari minum susu, kitapun harus tahu waktu dan cara yang tepat untuk minum susu.</p>
			<p>Selamat datang di Milkpedia. Dapatkan informasi seputar nutrisi dan kesehatan serta segala manfaat kebaikan susu. Andapun dapat mengajukan pertanyaan seputar susu dan produk Frisian Flag di sini. Semoga informasinya bermanfaat untuk mendukung kesehatan Anda dan keluarga.</p>
        </div>
    </div>
</div>

<div class="container-fluid">

	<div class="col-md-12">
    	<div class="text-center default-content">
    		<h4>Artikel Terbaru</h4>
    		<br />
    	</div>
    </div>
	{% if milkpediaList.records %}
    {% set milkpedias = milkpediaList.records.take(3) %}
    {% for milkpediaPost in milkpedias %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card__thumbnail card__thumbnail--half" style="background-image: url('{{ milkpediaPost.featured_image | mediathumb_resize('width', 640, 90)  }}');">
            </div>
            <div class="card__meta card__meta--relative">
            	<div class="date">
                    <label>Milkpedia</label> | {{ milkpediaPost.created_at.format('d M Y') }}
                </div>
                <header class="card__head">
                    <h3>{{milkpediaPost.title}}</h3>
                </header>
                <p>{{milkpediaPost.excerpt}}</p>
                <a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}" class="button">{{ 'lebih-lanjut'|_ }}</a>
            </div>
        </div>
    </div>
     {% endfor %}
     {% endif %}
</div>

<div class="container-fluid">

	{% if milkpediaList.nutrisi  %}
	{% set milkpedias = milkpediaList.nutrisi.take(4) %}
	<div class="col-md-4 small-news__wrapper">
		<h3 class="small-news__title">{{ 'nutrisi-dan-kesehatan'|_ }}</h3>
		 {% for milkpediaPost in milkpedias %}
		<div class="small-news">
			<div class="small-news__thumbnail" style="background-image: url('{{ milkpediaPost.featured_image | mediathumb_resize('width', 640, 90)  }}');">
				<a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}"></a>
			</div>
			<div class="small-news__meta">
				<div class="date">
		            <label>{{ 'nutrisi-dan-kesehatan'|_ }}</label><br />
		            {{milkpediaPost.created_at|date('d M Y')}}
		        </div>
		        <h3><a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}">{{milkpediaPost.title}}</a></h3>
			</div>
		</div>
		{% endfor %}
		<a href="{{ 'our-milkpedia'|page({ "slug": "nutrisi-dan-kesehatan" }) }}" class="button">lihat semua artikel</a>
	</div>
	{% endif %}
	<!-- end Nutrisi and Kesehatan -->

	{% if milkpediaList.susu  %}
	{% set milkpedias = milkpediaList.susu.take(4) %}
	<div class="col-md-4 small-news__wrapper">
		<h3 class="small-news__title">{{ 'manfaat-minum-susu'|_ }}</h3>

		{% for milkpediaPost in milkpedias %}
		<div class="small-news">
			<div class="small-news__thumbnail" style="background-image: url('{{ milkpediaPost.featured_image | mediathumb_resize('width', 640, 90)  }}');">
				<a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}"></a>
			</div>
			<div class="small-news__meta">
				<div class="date">
		            <label>{{ 'manfaat-minum-susu'|_ }}</label><br />
		            {{milkpediaPost.created_at|date('d M Y')}}
		        </div>
		        <h3><a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}">{{milkpediaPost.title}}</a></h3>
			</div>
		</div>
		{% endfor %}


		<a href="{{ 'our-milkpedia'|page({ "slug": "manfaat-minum-susu" }) }}" class="button">lihat semua artikel</a>
	</div>
	{% endif %}
	<!-- end Manfaat Minum Susu -->

	{% if milkpediaList.cara_minum_susu  %}
	{% set milkpedias = milkpediaList.cara_minum_susu.take(4) %}
	<div class="col-md-4 small-news__wrapper">
		<h3 class="small-news__title">{{ 'kapan-dan-bagaimana-cara-minum-susu'|_ }}</h3>

		{% for milkpediaPost in milkpedias %}
		<div class="small-news">
			<div class="small-news__thumbnail" style="background-image: url('{{ milkpediaPost.featured_image | mediathumb_resize('width', 640, 90)  }}');">
				<a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}"></a>
			</div>
			<div class="small-news__meta">
				<div class="date">
		            <label>{{ 'kapan-dan-bagaimana-cara-minum-susu'|_ }}</label><br />
		            {{milkpediaPost.created_at|date('d M Y')}}
		        </div>
		        <h3><a href="{{ 'our-milkpedia-single'|page({"category-slug": milkpediaPost.categories.first().slug, "slug": milkpediaPost.slug}) }}">{{milkpediaPost.title}}</a></h3>
			</div>
		</div>
		{% endfor %}

		<a href="{{ 'our-milkpedia'|page({ "slug": "kapan-dan-bagaimana-cara-minum-susu" }) }}" class="button">lihat semua artikel</a>
	</div>
	{% endif %}
	<!-- end Kapan &amp; Bagaimana Cara Minum Susu -->
</div>