title = "Our Products Sub Single"
url = "/produk/:category-slug/:sub-category-slug/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Definite\Products\Models\Product"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
function onEnd() {

    if (is_null($this->components['builderDetails']->record)) return $this->controller->run('404');

    // get the post component
    $_title = $this->page->components["builderDetails"]->record->attributes["title"];
    $this->page->title = $_title;
    $this->page->meta_title = $_title;
    
    $_title_en = $this->page->components["builderDetails"]->record->attributes["title_en"];
    $this->page->title_en = $_title_en;
    $this->page->meta_title_en = $_title_en;

}
?>
==
{# Template file for single product of sub category #}
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
{% set category = record.categories().first %}

<h1 aria-hidden="true" class="seo-heading">{{ trans_pick(record, 'title') }} - Our Product</h1>

<div class="static-baner-pages">
    {% if category.slug == 'susu-siap-minum' %}
        <!-- <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Our Milkpedia"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/staticbaner-xs.jpg'|theme }}" alt="Banner Static"/> </div> -->
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/banner/Banner link 2-desktop.jpg'|theme }}" alt="Banner Link 2 Desktop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/banner/Banner link 2-mobile.jpg'|theme }}" alt="Banner Link 2 Mobile"/> </div>
    {% else %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/product-header-desktop.png'|theme }}" alt="Product Header Desktop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/product-header-mobile.png'|theme }}" alt="Product Header Mobile"/> </div>
    {% endif %}
</div>

<div class="container-menutab container-menutab--five">
    <div class="container-one">
        <ul>

            {% for category in categories %}
            <li>
                <a href="{{ 'our-products-archive'|page({'slug': category.slug }) }}"
                {% if category.slug == record.slug %}
                    class="active"
                {% endif %}
                >
                    {{ trans_pick(category, 'title') }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div id='main-section' class="container-fluid">
    <div class="col-md-12">
        <div class="breadcrumb">
            <div class="container-two">
                <ul>
                    <li>
                        <a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                    <li>
                        <a href="{{ 'our-products'|page }}">{{'produk'|_}}</a> </li>
                    <li>
                        <a href="{{ 'our-products-archive'|page({"slug": category.slug}) }}">{{ trans_pick(category, 'title') }}</a> </li>
                    <li class="active">
                        <a href="{{ 'our-products-single'|page({
                            "category-slug": category.slug,
                            "slug": record.slug
                        }) }}">{{ trans_pick(record, 'title') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <h3>{{ trans_pick(record, 'title') }}</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="slider-for">
                            {% for image in record.image_gallery %}
                                <div class="imgproduct">
                                    <img src="{{ image.image | media }}" alt="{{ image.image | media }}" />
                                </div>
                            {% endfor %}
                        </div>

                        {% if record.detail_kemasan %}
                        <div class="wrp-size">
                            <h4>{{'ukuran-kemasan'|_}}</h4>
                            {% for package in record.detail_kemasan %}
                            <div class="itemsize">
                                <label>{{ package.value }}
                                    <sub>{{ package.satuan }}</sub>
                                </label>{{ package.jenis }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% if not record.childs.isEmpty or record.parent %}
                            {# calculating variants #}
                            {% if record.isParent %}
                                {% set variants = record.childs %}
                            {% else %}
                                {% set variants = record.siblingsVariants  %}
                            {% endif %}

                            <h3 class="heading heading_variant">{{'tersedia-dalam-rasa-lain'|_}}</h3>
                            <div class="variant">
                                {% for product in variants %}
                                    {% if product.id != record.id %}
                                        <div class="imgproduct">
                                            <a href="{{ 'our-products-single'|page({
                                                'category-slug': product.category.slug,
                                                'slug': product.slug
                                            }) }}">
                                                {% if product.isParent %}
                                                    {% set img = product.image_gallery[0].image %}
                                                {% else %}
                                                    {% set img = product.featured_image %}
                                                {% endif %}

                                                <img src="{{ img |media }}" alt="{{ product.title }}"/>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if record.link_ecommerce %}
                        <div class="wrp-marketplace">
                            <h4>{{'beli-disini'|_}}</h4>
                            <ul>
                            {% for shop in record.link_e_commerce %}
                                <li>
                                    <a href="{{ shop.url }}">
                                        <img src="{{ shop.image|media }}" alt="{{ shop.title }}"/>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                      <div class="accordion accordion_product-detail">
                        {{ record.content | raw }}

                        <h3 class="hidden-md hidden-lg">{{'keuntungan'|_}}</h3>
                        <div class="accordion__content">
                            {%for ringkasan in record.ringkasan_gizi %}
                            <div class="wrp-sectiongray">
                                <h4 class="subtitle">{{ trans_pick(ringkasan, 'title') }}</h4>
                                {{ trans_pick(ringkasan, 'description') | raw }}
                            </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wrp-sharesocemd">
                        <label>{{'share'|_}}</label>
                        <div class="addthis_inline_share_toolbox"
                          data-url="{{ this.page.id | page }}" 
                          data-title="{{ trans_pick(record, 'title') }} - Frisian Flag Produk"
                          data-description="Halo!\n\nCari tahu bagaimana produk-produk Frisian Flag bisa menjadi bagian dari pola hidup sehat keluarga Anda.\n\n(link produk)\n\nTemukan berbagai  produk Frisian Flag lainnya di (link)."></div>
                     </div>
                     <script type="text/javascript" defer>
                          var addthis_config = addthis_config||{};
                          addthis_config.ui_email_note = 'Halo!\n\nCari tahu bagaimana produk-produk Frisian Flag bisa menjadi bagian dari pola hidup sehat keluarga Anda.\n\nTemukan berbagai produk Frisian Flag lainnya di ' + "{{ str_replace_first('https://', '', url('/produk')) }}";
                      </script>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix">
      {%if not record.related.isEmpty %}
          <h2 class="section__title">{{ 'produk-terkait'|_ }}</h2>
          {% for post in record.related %}
          <div class="col-sm-4 item-related itemhomefade">
              <div class="card card_featured card_product">
                  <div class="card__thumbnail card__thumbnail--blue">
                      <div class="card__image">
                        <img src="{{ post.featured_image|  mediathumb_resize('width', 450, 100)  }}" alt="{{ trans_pick(post, 'title') }}">
                      </div>
                      <div class="card__meta">
                          <header class="card__head">
                              <h3><a href="{{ 'our-products-single'|page({
                                  "category-slug": category.slug,
                                  "slug": post.slug
                              }) }}">{{ trans_pick(post, 'title') }}</a></h3>
                          </header>
                          <a href="{{ 'our-products-single'|page({
                              "category-slug": category.slug,
                              "slug": post.slug
                          }) }}" class="button button-dark hidden-xs">{{ 'selengkapnya'|_ }}</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      {% endif %}
    </div>


</div> <!-- end mainsection -->

{% put footer %}
    {{ record.additional_tags|raw }}
{% endput %}

{% else %}
    {% partial 'site/our-products-sub-archive' %}
{% endif %}