title = "Our Products Single"
url = "/produk/:category-slug/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Definite\Products\Models\Product"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
function onEnd() {
    
    if (is_null($this->components['builderDetails']->record)) return $this->controller->run('404');

    // get the post component
    $_title = $this->page->components["builderDetails"]->record->attributes["meta_title"];
    $_meta_description = $this->page->components["builderDetails"]->record->attributes["meta_description"];
    $_meta_keywords = $this->page->components["builderDetails"]->record->attributes["meta_keywords"];
    $this->page->title = $_title;
    $this->page->meta_title = $_title;
    $this->page->meta_description = $_meta_description;
    $this->page->meta_keywords = $_meta_keywords;
    
    $this->page->meta_title_en = $this->page->components["builderDetails"]->record->attributes["meta_title_en"];
    $this->page->meta_description_en = $this->page->components["builderDetails"]->record->attributes["meta_description_en"];
    $this->page->meta_keywords_en = $this->page->components["builderDetails"]->record->attributes["meta_keywords_en"];

}
?>
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
{% set category = record.categories().first %}

<div class="static-baner-pages">
    {% if record.slug == 'produk/purefarm' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Our Milkpedia Desktop"/></div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/staticbaner-xs.jpg'|theme }}" alt="Our Milkpedia Mobile"/></div>
    {% elseif record.slug == 'Frisian-Flag-Mama' or record.slug == 'frisian-flag-jelajah-1-3' or record.slug == 'frisian-flag-karya-4-6' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/banner/Banner link 4-desktop.jpg'|theme }}" alt="Banner Link 4 Dekstop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/banner/Banner link 4-mobile.jpg'|theme }}" alt="Banner Link 4 Mobile"/> </div>
    {% elseif record.slug == 'frisian-flag-susu-bubuk-full-cream' or record.slug == 'frisian-flag-susu-bubuk-coklat' or record.slug == 'frisian-flag-susu-bubuk-Instant-Plain' or record.slug == 'frisian-flag-susu-bubuk-instant-kids-madu' or record.slug == 'frisian-flag-susu-bubuk-instant-kids-cokelat' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/banner/Banner link 3-desktop.jpg'|theme }}" alt="Banner Link 3 Dekstop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/banner/Banner link 3-mobile.jpg'|theme }}" alt="Banner Link 3 Mobile"/> </div>
    {% elseif record.slug == 'purefarm-full-cream' or record.slug == 'purefarm' or record.slug == 'purefarm-flavour-milk' or record.slug == 'purefarm-low-fat' or record.slug == 'milky-uht' or record.slug == 'milky-sterilized' or record.slug == 'kid' or record.slug == 'purefarm-flavour-milk-strawberry' or record.slug == 'purefarm-flavour-chocolate' or record.slug == 'frisian-flag-purefarm-kacang-hijau' or record.slug == 'purefarm-low-fat-coklat' or record.slug == 'purefarm-low-fat-strawberry' or record.slug == 'purefarm-low-fat-french-vanilla' or record.slug == 'milky-uht-strawberry' %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/banner/Banner link 2-desktop.jpg'|theme }}" alt="Banner Link 2 Dekstop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/banner/Banner link 2-mobile.jpg'|theme }}" alt="Banner Link 2 Dekstop"/> </div>
    {% else %}
        <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/product-header-desktop.png'|theme }}" alt="Product Header Desktop"/> </div>
        <div class="imgwrp visible-xs"><img src="{{ 'assets/img/product-header-mobile.png'|theme }}" alt="Product Header Mobile"/> </div>
    {% endif %}
</div>

<div class="container-menutab container-menutab--five">
    <div class="container-one">
        <ul>
            {% for category in categories %}
            <li>
                <a href="{{ 'our-products-archive'|page({'slug': category.slug }) }}"
                    {% if category.slug == record.slug %}
                        class="active"
                    {% endif %}
                >
                    {{ trans_pick(category, 'title') }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id='main-section' class="container-fluid">
    <div class="col-md-12">
        <div class="breadcrumb">
            <div class="container-two">
                <ul>
                    <li>
                        <a href="{{ 'home'|page }}">{{'beranda'|_}}</a> </li>
                    <li>
                        <a href="{{ 'our-products'|page }}">{{'produk'|_}}</a> </li>
                    <li>
                        <a href="{{ 'our-products-archive'|page({"slug": category.slug}) }}">{{ trans_pick(category, 'title') }}</a> </li>
                    <li class="active">
                        <a href="{{ 'our-products-single'|page({
                            "category-slug": category.slug,
                            "slug": record.slug
                        }) }}">{{ trans_pick(record, 'title') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="default-content">
            <div class="container-two">
                <h1 class="post__title">{{ trans_pick(record, 'title') }}</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="slider-for">
                            {% for image in record.image_gallery %}
                                <div class="imgproduct">
                                    <img src="{{ image.image | media }}" alt="{{ image.image | media }}""/>
                                </div>
                            {% endfor %}
                        </div>

                       {% if record.detail_kemasan %}
                        <div class="wrp-size">
                            <h4>{{'ukuran-kemasan'|_}}</h4>
                            {% for package in record.detail_kemasan %}
                                <div class="itemsize">
                                    <label>
                                        {{ package.value }}
                                        <sub>{{ package.satuan }}</sub>
                                    </label>
                                    {{ package.jenis }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if not record.childs.isEmpty or record.parent %}
                            {% if record.isParent %}
                                {% set variants = record.childs %}
                            {% else %}
                                {% set variants = record.siblingsVariants  %}
                            {% endif %}

                            <h3 class="heading heading_variant">{{'tersedia-dalam-rasa-lain'|_}}</h3>
                            <div class="variant">
                                {% if not record.parent.isEmpty %}
                                    <div class="imgproduct">
                                        <a href="{{ 'our-products-single'|page({
                                            'category-slug': record.parent.category.slug,
                                            'slug': record.parent.slug
                                        }) }}">
                                            {% if record.parent.isParent %}
                                                {% set img = record.parent.image_gallery[0].image %}
                                            {% else %}
                                                {% set img = record.parent.featured_image %}
                                            {% endif %}
                                            <img src="{{ img | mediathumb_resize('width', 150, 100) }}" alt="{{ record.parent.title }}"/>

                                            <h6 class="imgproduct__title">{{ trans_pick(record.parent, 'title') }}</h6>
                                        </a>
                                    </div>
                                {% endif %}

                                {% for product in variants %}
                                    {% if product.id != record.id %}
                                        <div class="imgproduct">
                                            <a href="{{ 'our-products-single'|page({
                                                'category-slug': product.category.slug,
                                                'slug': product.slug
                                            }) }}">
                                                {% if product.isParent %}
                                                    {% set img = product.image_gallery[0].image %}
                                                {% else %}
                                                    {% set img = product.featured_image %}
                                                {% endif %}
                                                <img src="{{ img | mediathumb_resize('width', 150, 100) }}" alt="{{ product.title }}"/>

                                                <h6 class="imgproduct__title">{{ trans_pick(product, 'title') }}</h6>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if record.link_e_commerce %}
                        <div class="wrp-marketplace">
                            <h4>{{'beli-disini'|_}}</h4>
                            <ul>
                            {% for shop in record.link_e_commerce %}
                                <li>
                                    <a href="{{ shop.link }}" target="_blank">
                                        <img src="{{ shop.image|media }}" alt="{{ shop.link_e_commerce }}" style="padding: 10px;" />
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ trans_pick(record, 'content') | raw }}

                        <div class="accordion accordion_product-detail">

                        <h3 class="hidden-md hidden-lg">{{'tabel-nutrisi'|_}}</h3>
                        <div class="accordion__content">
                            {%for ringkasan in record.ringkasan_gizi %}
                            <div class="wrp-sectiongray">
                                <h4 class="subtitle">{{ trans_pick(ringkasan, 'title') }}</h4>

                                {{ trans_pick(ringkasan, 'description') | raw }}
                            </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wrp-sharesocemd">
                        <label>{{'share'|_}}</label>
                        <div class="addthis_inline_share_toolbox"
                          data-url="{{ this.page.id | page }}" 
                          data-title="{{ trans_pick(record, 'title') }} - Frisian Flag Produk"
                          data-description="Halo!\n\nCari tahu bagaimana produk-produk Frisian Flag bisa menjadi bagian dari pola hidup sehat keluarga Anda.\n\n(link produk)\n\nTemukan berbagai  produk Frisian Flag lainnya di (link)."></div>
                     </div>
                     <script type="text/javascript" defer>
                          var addthis_config = addthis_config||{};
                          addthis_config.ui_email_note = 'Halo!\n\nCari tahu bagaimana produk-produk Frisian Flag bisa menjadi bagian dari pola hidup sehat keluarga Anda.\n\nTemukan berbagai produk Frisian Flag lainnya di ' + "{{ str_replace_first('https://', '', url('/produk')) }}";
                      </script>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        {%if not record.related.isEmpty %}
            <h2 class="section__title">{{ 'produk-terkait'|_ }}</h2>
            {% for post in record.related %}
            <div class="col-sm-4 item-related itemhomefade">
                <div class="card card_featured card_product">
                    <div class="card__thumbnail card__thumbnail--blue">
                        <div class="card__image">
                            <img src="{{ post.featured_image | mediathumb_resize('width', 450, 100) }}" alt="{{ trans_pick(post, 'title') }}">
                        </div>
                        <div class="card__meta">
                            <header class="card__head">
                                <h3><a href="{{ 'our-products-single'|page({
                                    "category-slug": category.slug,
                                    "slug": post.slug
                                }) }}">{{ trans_pick(post, 'title') }}</a></h3>
                            </header>
                            <a href="{{ 'our-products-single'|page({
                                "category-slug": category.slug,
                                "slug": post.slug
                            }) }}" class="button button-dark hidden-xs">{{ 'selengkapnya'|_ }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div> <!-- end mainsection -->

{% put footer %}
    {{ record.additional_tags|raw }}
{% endput %}

{% else %}
    {% partial 'site/our-products-sub-archive' %}
{% endif %}