title = "Under Maintenance"
url = "/404"
layout = "default"
==

<h1 aria-hidden="true" class="seo-heading">Error 404 (Halaman Tidak Ditemukan)</h1>

<div class="static-baner-pages">
    <div class="imgwrp hidden-xs"><img src="{{ 'assets/img/our-milkpedia.png'|theme }}" alt="Our Milkpedia"/> </div>
    <div class="imgwrp visible-xs"><img src="{{ 'assets/img/staticbaner-xs.jpg'|theme }}" alt="Banner Static"/> </div>
</div>

<div id='main-section' class="container-fluid">
	<div class="col-md-8 float-center text-center" style="float:none; margin:auto; padding: 60px 0;">
		<div class="default-content">
			<img src="{{ 'assets/img/icon-gear.png'|theme }}" alt="Icon Gear" style="width: 80px" /> <br />
			<h3 style="margin-top: 30px;">Maaf saat ini kamu tidak dapat mengakses halaman ini karena sedang dalam perbaikan</h3>
			<a href="{{ 'home' | page }}" class="button">{{ 'beranda'|_ }}</a>
		</div>
	</div>
</div>
