[viewBag]
==
<div class="sticky-button">
<a href="https://www.frisianflag.com/resepsahurterbaik/amp" data-vars-sticky-label="Resep Sahur Terbaik">
    <div class="sb-btn">
        <amp-img src="{{ 'festive2021/mobile/Sahur_Terbaik.svg'|media}}" width="20" height="20" layout="responsive" alt="Sahur Terbaik"></amp-img>
        <p>Resep<br>Sahur<br>Terbaik</p>
    </div>
</a>
<a href="/amp/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/resep-takjil-manis-tujuh-langkah" data-vars-sticky-label="Resep Takjil Mantul">
    <div class="sb-btn">
        <amp-img src="{{ 'festive2021/mobile/Takjil_Ice.svg'|media}}" width="20" height="20" layout="responsive" alt="Mantul"></amp-img>
        <p>Resep<br>Takjil<br>Mantul</p>
    </div>
</a>
<a href="/amp/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/resep-ramadan-kue-kering-pilihan" data-vars-sticky-label="Resep Kue Kering">
    <div class="sb-btn">
        <amp-img src="{{ 'festive2021/mobile/Kue_Kering.svg'|media}}" width="20" height="20" layout="responsive" alt="Kue Kering"></amp-img>
        <p>Resep<br>Kue<br>Kering</p>
    </div>
</a>
<a href="/amp/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/promo-spesial-ramadan" data-vars-sticky-label="Promo Terbaik">
    <div class="sb-btn">
        <amp-img src="{{ 'festive2021/mobile/Promo.svg'|media}}" width="20" height="20" layout="responsive" alt="Promo"></amp-img>
        <p>Promo<br>Terbaik</p>
    </div>
</a>
</div>