[viewBag]
==
<div class="sticky-button" style="top: 100px;">
<a href="https://www.frisianflag.com/resepsahurterbaik">
    <div class="sb-btn">
        <img src="{{ 'festive2021/mobile/Sahur_Terbaik.svg'|media}}"  alt="Sahur Terbaik"/>
        <p>Resep<br>Sahur Terbaik</p>
    </div>
</a>
<a href="{{ category == 'resep-takjil-manis-tujuh-langkah' ? '' : '/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/resep-takjil-manis-tujuh-langkah'}}">
    <div class="sb-btn">
        <img src="{{ 'festive2021/mobile/Takjil_Ice.svg'|media}}" alt="Mantul"/>
        <p>Resep<br>Takjil Mantul</p>
    </div>
</a>
<a href="/aktivitas-kami/resep-ramadan-kaya-rasa-dirumahaja/resep-kue-kering-pilihan">
    <div class="sb-btn">
        <img src="{{ 'festive2021/mobile/Kue_Kering.svg'|media}}" alt="Kue Kering"/>
        <p>Resep<br>Kue Kering</p>
    </div>
</a>
<a href="/aktivitas-kami/resep-ramadan-kaya-rasa-dirumahaja/promo">
    <div class="sb-btn">
        <img src="{{ 'festive2021/mobile/Promo.svg'|media}}" alt="Promo"></img>
        <p>Promo<br>Terbaik</p>
    </div>
</a>
</div>