description = "old-amp-ramadhan-page"

[viewBag]
==
{% partial 'site/banner-festive2021-amp' %}    
<div class="menangkan-puasamu-class">
<div class="content-festive homepage">
<h2 class="underline t">Resep Terlezat Kami</h2>
<div class="mb-3">
<a href="https://www.frisianflag.com/resepsahurterbaik/amp" class="mb-3">
<div class="list-item">
    <div class="recipe-thumb">
          <amp-img class="img-list" src="{{ 'ramadan-2023/rtd.jpg'|media}}" width="1920" height="1080" layout="responsive" alt="Resep Sahur Terbaik">
            </amp-img>
    </div>
    <div class="button gradient-orange ">Lihat Resepnya</div>
</div>
</a>
<a href="/amp/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/resep-takjil-manis-tujuh-langkah" class="mb-3">
<div class="list-item">
    <div class="recipe-thumb">
          <amp-img class="img-list" src="{{ 'ramadan-2023/scm.jpg'|media}}" width="354" height="180" layout="responsive" alt="Resep Mantul">
            </amp-img>
    </div>
    <div class="button gradient-orange ">Lihat Resepnya</div>
</div>
</a>
<a href="/amp/aktivitas-kami/resep-ramadan-untuk-menangkan-puasamu/resep-ramadan-kue-kering-pilihan" class="mb-3">
    <div class="list-item">
        <div class="recipe-thumb">
              <amp-img class="img-list" src="{{ 'ramadan-2023/fmp.jpg'|media}}" width="354" height="170" layout="responsive" alt="Resep Kue Kering">
                </amp-img>
        </div>
        <div class="button gradient-orange ">Lihat Resepnya</div>
    </div>
</a>
</div>
<h2 class="underline">Video Resep Terbaik</h2>
<div class="section-video">
    <div>
    <div class="list-item mb-3">
        <div class="recipe-thumb">
            <amp-youtube class="youtube" data-videoid="y1OEx29G2jY" layout="responsive" width="480" data-param-rel="0" height="271" >
                <amp-img src="http://i3.ytimg.com/vi/y1OEx29G2jY/maxresdefault.jpg" placeholder layout="fill" />
            </amp-youtube>
        </div>
    </div>
    </div>
    
    <div>
    <div class="list-item mb-3">
        <div class="recipe-thumb">
            <amp-youtube class="youtube" data-videoid="zjfe8g8b7xk" layout="responsive" width="480" data-param-rel="0" height="271" >
                <amp-img src="http://i3.ytimg.com/vi/zjfe8g8b7xk/maxresdefault.jpg" placeholder layout="fill" />
            </amp-youtube>
        </div>
    </div>
    </div>
    
    <div>
    <div class="list-item mb-3">
        <div class="recipe-thumb">
            <amp-youtube class="youtube" data-videoid="jAwb7GpPVyE" layout="responsive" width="480" data-param-rel="0" height="271" >
                <amp-img src="http://i3.ytimg.com/vi/jAwb7GpPVyE/maxresdefault.jpg" placeholder layout="fill" />
            </amp-youtube>
        </div>
    </div>
    </div>
</div>
{#
<br>
<h2 class="underline">Promo Buat Kamu</h2>
<div class="section-promo">
<a href="#" class="mb-3">
    <div class="list-promo">
        <div class="promo-thumb">
              <amp-img src="{{ 'festive2021/mobile/Group_11142.png'|media}}" width="170" height="170" layout="responsive" alt="Promo">
                </amp-img>
        </div>
        <h5>Promo E-Commerce beli 1 gratis 1</h5>
        <div class="button">Lihat Promonya</div>
    </div>
</a>
<a href="#" class="mb-3">
    <div class="list-promo">
        <div class="promo-thumb">
              <amp-img src="{{ 'festive2021/mobile/Group_11141.png'|media}}" width="170" height="170" layout="responsive" alt="Promo">
                </amp-img>
        </div>
        <h5>Promo E-Commerce beli 1 gratis 1</h5>
        <div class="button">Lihat Promonya</div>
    </div>
</a>
<a href="#" class="mb-3  w-100">
    <div class="list-promo">
        <div class="promo-thumb">
              <amp-img src="{{ 'festive2021/mobile/Group_11143.png'|media}}" width="354" height="170" layout="responsive" alt="Promo">
                </amp-img>
        </div>
        <h5>Promo E-Commerce beli 1 gratis 1</h5>
        <div class="button">Lihat Promonya</div>
    </div>
</a>
</div>
<a class="button gradient-blue w-100" href="#">Promo Lainnya</a>
#}
</div>
{% partial 'festive-sticky' %}
</div>

{% partial 'site/footer-amp' %}