description = "partial tips untuk halaman ramadhan 2024"

[viewBag]
==
<style>
.containers {
    width:80%;
    margin :-30px auto 0 auto
}
.tips {
    width: 100%;
    background-image: url('https://www.frisianflag.com/themes/rainlab-bonjour/assets/ramadhan2024/Group%20182.png');
    display: flex;
    height: 43.3rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50px;
}
.contain {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding: 6rem 10rem;
}
.button-klik {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 7rem;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 30px;
    -moz-user-select: none;
    user-select: none;
    color: #fff;
    background-image: linear-gradient(#51b3f7,#285ba4); 
    margin-top:20px;
    font-family: 'Amino'
}
.button-klik:hover{
    color: white;
}
.text-title {
    color:#224C95;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Amino-Black;
    width:50%;
}
@media screen and (max-width:1024px){
    .contain {
        padding: 4rem 6rem;    
    }    
    .tips {
        background-position:-225px;
    }
}
@media screen and (max-width: 820px){
 .contain {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding: 4rem 6rem;
 }
 .tips {
     background-position:right;    
 }
 
}
@media screen and (max-width: 768px) {
    .tips {
        height: auto;
        border-radius: 30px;
        background-position:right !important;
    }
    .centering-promo {
        width:50%;
        padding 6rem 6rem;
    }
    .contain {
        width: 100%;
        padding: 2rem; 
        text-align: center; 
        align-items: center;
    }
    .button-klik {
        padding: 10px 50px; /* Mengurangi padding tombol pada tampilan mobile */
    }
    .text-title{
        margin: 0 auto;   
        width:100%;
    }
}
@media screen and (max-width: 425px) {
    .text-title{
        font-size:17px;
    }
    .button-klik{
        padding:6px 24px;    
        font-size:10px;
    }
}

</style>
<div class="containers">
    <div class="tips">
        <div class="container">
            <div class="contain">
                
                <div class="text-title">Tips agar tetap sehat dan penuh nutrisi saat ramadhan</div>
                <a href="" class="button-klik">Klik disini</a>
            </div>
        </div>
    </div>
</div>